[2021-09-12 10:59] bigint opened #26 "Dropdown component support"
Something like this

<img width="306" alt="Screenshot 2021-09-12 at 4 29 33 PM" src="https://user-images.githubusercontent.com/69431456/132984967-e994573b-fe4e-4e07-85d6-5078c73f0f94.png">

[2021-09-12 11:01] bigint opened #27 "Modal component"
Something like this

<img width="660" alt="Screenshot 2021-09-12 at 4 30 39 PM" src="https://user-images.githubusercontent.com/69431456/132984993-68998567-da61-4795-a32c-a91d6c1235b0.png">

[2021-09-12 11:37] krystofex opened #28 "Input component"
Something like this
![image](https://user-images.githubusercontent.com/48121710/132986023-783279a7-34ec-4134-bdaa-686c517d934e.png)

[2021-09-12 20:05] piall opened #29 "Wrong cursor position in the live editor"
**Describe the bug**
Currently, the cursor position is not aligning with the line where it should be.

**Steps to reproduce**
1. Go to any page where a live editor is available. (Suppose https://nextui.org/docs/components/checkbox)
2. Click on the live editor window

**Expected behaviour**
The cursor position should align with the clicked line

**Screenshots**
![Screenshot from 2021-09-13 01-52-25

[2021-09-12 20:07] jrgarciadev commented on #29
Thank you for reporting it @piall, go ahead all yours, thanks for your help! 🙋🏻‍♂️

[2021-09-12 20:13] piall commented on #29
My pleasure :smiley: . Is there any pre-requisite of environment setup?

[2021-09-12 20:17] jrgarciadev commented on #29
Just be sure you have yarn installed because the project has built over yarn workspaces and be sure you have a node version >=12.13.0

Steps to start the docs project, Execute in the root of the project:

1. `yarn`
2. `yarn dev:docs`

You will find the source code of the docs in -> packages/docs

Let me know if you need any help

[2021-09-12 20:20] piall commented on #29
Thank you :raised_hands:

[2021-09-13 20:26] krystofex opened #30 "Wrong story Tooltip component render"
https://storybook.nextui.org/?path=/story/display-tooltip--default

[2021-09-16 00:37] jrgarciadev commented on #29
Hi! @piall any updates about this? 🙌

[2021-09-16 02:54] piall commented on #29
I am busy with other stuff currently. I couldn't start work. :sweat: . I will try to give time on it today.

[2021-09-16 12:56] jrgarciadev opened #32 "Add ARIA attributes"
**Describe the bug**
Currently, the components don't have the ARIA attributes, this will have NextUI more accessible to people with disabilities.

**Expected behaviour**
Add Aria Attributes to components

**Additional info**
References:
[ARIA-Moz](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA)
[ARIA-Google](https://developers.google.com/web/fundamentals/accessibility/semantics-ar

[2021-09-16 18:39] DaniAcu commented on #28
Hi @jrgarciadev! Are you already working on this? I'd like to contribute to that 😁

[2021-09-16 18:52] jrgarciadev commented on #28
Hi @DaniAcu, yes I'm currently working on it

I appreciate your contribution intention, however, is core functionality and I'm adjusting design stuff and at the same time writing the code, at the moment are only available fixes or improvements to existing components/docs

Would you like to help the project with another thing? join the discord community to explain the details -> [Discord Invitation

[2021-09-16 19:08] DaniAcu commented on #32
I could take this 😉

[2021-09-16 19:09] jrgarciadev commented on #32
Thanks, @DaniAcu!

[2021-09-17 10:58] #29 closed

[2021-09-18 08:28] javierscode commented on #32
@jrgarciadev maybe we should split this issue by each component. Like this:

- Avatar: improve accessibility.
- Button: improve accessibility.
- etc...

[2021-09-18 10:13] javierscode opened #35 "ESLint extension doesn't load workspace settings"
**Describe the bug**
When I open any component, the eslint doesn't load the current workspace configuration and gives an error because it can't find the tsconfig.

**Expected behaviour**
It should load the .eslintrc.json of each workspace.

**Screenshots**
![image](https://user-images.githubusercontent.com/59363092/133885141-d1450ca8-41ca-4188-8fea-81aad4642640.png)

**Environment / Context**
- De

[2021-09-18 22:25] jrgarciadev commented on #32
I agree with you @javierscode I'm to create separate tasks for this

[2021-09-18 22:26] jrgarciadev opened #38 "Add ARIA attributes - Button"
**Describe the bug**
Currently, the Button component doesn't have the ARIA attributes, this will have NextUI more accessible to people with disabilities.

**Expected behaviour**
Add Aria Attributes to components

**Additional info**
References:
[ARIA-Moz](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA)
[ARIA-Google](https://developers.google.com/web/fundamentals/accessibility/sema

[2021-09-18 22:28] jrgarciadev opened #39 "Add ARIA attributes - Checkbox"
**Describe the bug**
Currently, the Checkbox component doesn't have the ARIA attributes, this will have NextUI more accessible to people with disabilities.

**Expected behaviour**
Add Aria Attributes to components

**Additional info**
References:
[ARIA-Moz](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA)
[ARIA-Google](https://developers.google.com/web/fundamentals/accessibility/se

[2021-09-18 22:29] jrgarciadev opened #40 "Add ARIA attributes - Switch"
**Describe the bug**
Currently, the Switch component doesn't have the ARIA attributes, this will have NextUI more accessible to people with disabilities.

**Expected behaviour**
Add Aria Attributes to components

**Additional info**
References:
[ARIA-Moz](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA)
[ARIA-Google](https://developers.google.com/web/fundamentals/accessibility/sema

[2021-09-20 17:29] javierscode opened #41 "Snapshot testing with Styled JSX"
Hello @jrgarciadev ,

There is something that makes me worried about the current behavior of the snapshot testing with the `styled-jsx`.

Right now, when someone clones the code and try to run the test script a lot of the test are fallen because the class identifier es switching between users and if we do any change, it will be change again. I think that this create a lot of uncertainty and less c

[2021-09-20 17:53] jrgarciadev commented on #41
Hi, @javierscode I'm going to look at this thanks for reporting it

[2021-09-20 20:35] #35 closed

[2021-09-25 18:37] #28 closed

[2021-09-26 06:49] JosiasAurel opened #43 "`Input` element when used returns `undefined`"
**Describe the bug**
I recently (~30mins ago) updated NextUI version on one of my projects to use the new Input component and get an issue with it
Next.JS throws
[code]
**Steps to reproduce**
1. Create new Next.JS project and install NextUI
2. Create a page and add new Input element
3. See error

**Expected behaviour**
Display new Input element on the page

**Screenshots**
<img width="771" alt="co

[2021-09-26 13:16] jrgarciadev commented on #43
Hi @JosiasAurel, I just tried this and unfortunately, I couldn't replicate it, It works fine for me even though I downgraded the webpack version to 4 if you remove the "Input" import the problem disappears?

[2021-09-26 13:19] JosiasAurel commented on #43
The issue indeed disappears when I remove the `Input`

[2021-09-26 13:21] jrgarciadev commented on #43
Is your project open source? If so, could you pass me the repo?

[2021-09-26 13:24] JosiasAurel commented on #43
The project is not open source unfortunately. But maybe I could pass some parts of the code.
Let me try that

[2021-09-26 13:31] jrgarciadev commented on #43
No problem, I just updated the next.js example -> https://github.com/nextui-org/nextui/tree/main/examples/create-next-app, you can use it to compare what it's different, let me know if you find out something maybe the next.js version it's different

[2021-09-26 13:36] jrgarciadev opened #44 "[Input] Add another property for customising the helperText color"
**Is your iteration request related to a problem?**
Currently the property `color` changes `label` and `helperText` color, it should be a different property for modifying `helperText` color

**Describe the solution you'd like**
Add a new property called `helperTextColor: SimpleColors`

[2021-09-26 14:29] JosiasAurel commented on #43
here is a sample that causes the same error I had earlier except this time it says it got `object` instead of `undefined` 🤔

Here you go -> https://github.com/JosiasAurel/breaking-ui-nextui

Sorry for replying late btw

[2021-09-26 14:35] #44 closed

[2021-09-26 15:03] jrgarciadev commented on #43
Great thank you for creating it, I'll take a look as soon as I can 🙌🏼

[2021-09-27 05:29] abhay44 opened #46 "Popover component"
I think it will be a good addition to the current set of components
Reference: https://react-bootstrap.github.io/components/overlays/#popovers

[2021-09-29 11:42] I-am-abdulazeez opened #47 "More Loading Types"
Hi sir, Nice work.

Since Inspiration was drawn from [Vuesax](https://vuesax.com/docs/components/Loading.html#type), i would love to add more loading types [i.e more loading designs]

[2021-09-30 06:14] tetrex commented on #27
for reference you can take a look at( sweet alert 2) https://www.npmjs.com/package/sweetalert2
i personally think this a great library and cool use cases ( ex. u can pass react component in alert and use it as model ) it would be great addition to the ui lib.

[2021-10-01 20:43] sauloviniciusf commented on #40
I would like to help with this task!

[2021-10-01 20:45] jrgarciadev commented on #39
Yeah for sure! thank you @arthur322

[2021-10-01 20:46] jrgarciadev commented on #40
Yeah for sure!
Thanks @sauloviniciusf

[2021-10-01 20:50] jrgarciadev opened #51 "Add ARIA attributes - Loading"
**Describe the bug**
Currently, the Loading component doesn't have the ARIA attributes, this will have NextUI more accessible to people with disabilities.

**Expected behaviour**
Add Aria Attributes to components

**Additional info**
References:
[ARIA-Moz](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA)
[ARIA-Google](https://developers.google.com/web/fundamentals/accessibility/sem

[2021-10-01 20:56] #51 closed

[2021-10-02 01:17] #40 closed

[2021-10-02 12:49] sauloviniciusf commented on #38
I will help with this too! 🙌🏼

[2021-10-02 13:34] jrgarciadev opened #57 "Cumulative Layout Shift has Increased"
**Describe the bug**
After updating to v46 the Cumulative Layout Shift increased

**Steps to reproduce**
1. Go to [https://nextui.org](https://nextui.org)
2. The page has a blinking stage before load
3. This  is happening on every entry page

**Expected behaviour**
The documentation page has to load without blinking

**Screenshots / Videos**

![Screenshot 2021-10-02 at 10 29 02](https://user-image

[2021-10-02 13:36] jrgarciadev commented on #38
For sure, Thanks! @sauloviniciusf  🙌🏼

[2021-10-02 21:44] #57 closed

[2021-10-03 00:10] jrgarciadev opened #61 "Input's Clear button wrong position"
**Describe the bug**
The clear button is over the right content

**Steps to reproduce**
1. Go to [nextui](https://nextui.org)
2. Click on 'Input > Helper Text > Last example'

**Expected behaviour**
The clear button must have enough space

**Screenshots**
![Screenshot 2021-10-02 at 21 07 17](https://user-images.githubusercontent.com/30373425/135734956-76224e9e-c96e-4434-a69d-7b829feb87fb.png)

[2021-10-03 01:11] #61 closed

[2021-10-03 19:32] jrgarciadev opened #64 "Hoverable `copy` and `repot bug` options even when are not visible"
**Describe the bug**
Hoverable `copy` and `repot bug` options even when are not visible in the documentation Live Code section

**Expected behaviour**
just should appear when the user expands the Live Code section

**Screenshots**
![Screenshot 2021-10-03 at 16 30 11](https://user-images.githubusercontent.com/30373425/135768778-c0fe2dd4-9e04-4525-8bda-232e7e56e889.png)

[2021-10-03 19:58] #64 closed

[2021-10-03 20:01] jrgarciadev opened #66 "Text Area Component"
**Describe the solution you'd like**
Create a multi-line user input.

**Describe alternatives you've considered**
Based on existing Input

[2021-10-04 12:24] jrgarciadev opened #68 "Small Checkbox is not rendering well"
**Describe the bug**
Small Checkbox is not rendering well

**Steps to reproduce**
1. Go to '(https://nextui-demo.vercel.app/)[https://nextui-demo.vercel.app/]
2. Click on **Agree to our Privacy Policy**

**Expected behaviour**
The checkmark's left side should be a little bit up

**Screenshots**
![Screenshot 2021-10-04 at 09 23 02](https://user-images.githubusercontent.com/30373425/135850615-c66219

[2021-10-05 01:59] #68 closed

[2021-10-05 02:31] jrgarciadev commented on #43
Hey @JosiasAurel could you try again with the last published version (alpha.47)? 🙋🏻‍♂️

[2021-10-08 18:36] jrgarciadev opened #71 "Report a bug button is not working"
**Describe the bug**
The "Report a bug" button is not working on the documentation site

**Steps to reproduce**
1. Go to 'https://nextui.org/docs/components/button'
2. Click on any of the Live editors
3. Try to click on 'Report a bug'

**Expected behaviour**
It should send the user to the "Issues" project section

**Screenshots**

![Screenshot 2021-10-08 at 15 32 18](https://user-images.githubuser

[2021-10-08 20:12] TechManos commented on #71
Hello, this seems like something I'd like to work on. Could you please assign it to me, if possible?

[2021-10-08 20:15] jrgarciadev commented on #71
Hi @TechManos yeah for sure, thank you!

[2021-10-08 23:01] #66 closed

[2021-10-09 07:48] JosiasAurel commented on #43
Hey @jrgarciadev, I upgraded to the latest version (alpha.48) and also tried (alpha.47) but still getting the same error
https://github.com/JosiasAurel/breaking-ui-nextui

[2021-10-10 01:42] bodybody123 opened #76 "New component: Table"
You know a table with its responsive column and row added next ui flavour

[2021-10-10 11:55] ibrahimtelman commented on #46
I think the Tooltip component can be used for this purpose. Tooltip components support custom triggers and custom content.

- https://nextui.org/docs/components/tooltip#custom-content
- https://nextui.org/docs/components/tooltip#trigger

[2021-10-10 13:43] jrgarciadev commented on #46
Hi, @abhay44 as @ibrahimtelman said you can use the `Tooltip` component for this purpose

[2021-10-10 13:43] #46 closed

[2021-10-10 13:55] ibrahimtelman commented on #71
Hi, If it's still open could you assign me this issue? When I look down at the project I think I found the fix.

[2021-10-10 14:01] ibrahimtelman opened #78 "Components/Tooltip gradient color not working."
**Describe the bug**
In docs says the Tooltip component has gradient color but when I tried and it didn't work.

**Steps to reproduce**
1. Import Tooltip component
2. Add "color" prop value of "gradient"
3. It will render primary color not gradient

**Expected behaviour**
When pass "gradient" in color prop, it should render the gradient background tooltip.

**Screenshots**
<img width="277" alt="Sc

[2021-10-10 14:04] jrgarciadev commented on #71
Hi, @ibrahimtelman I going to assign this to you, thanks!

@TechManos I appreciate your interest in solving this bug but since @ibrahimtelman already know the solution and the users currently can't report a bug from the website I'm reassigning it to him

[2021-10-10 17:48] #71 closed

[2021-10-10 19:53] #78 closed

[2021-10-12 13:13] jrgarciadev opened #84 "Add ARIA attributes - Radio"
**Describe the bug**
Currently, the Radio component doesn't have the ARIA attributes, this will have NextUI more accessible to people with disabilities.

**Expected behaviour**
Add Aria Attributes to components

**Additional info**
References:
[ARIA-Moz](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA)
[ARIA-Google](https://developers.google.com/web/fundamentals/accessibility/seman

[2021-10-12 14:26] #84 closed, assigned to nobody

[2021-10-14 15:25] ahavryliuk opened #87 "Container component creates an overflow"
**Describe the bug**
Container component creates an overflow

**Steps to reproduce**
https://codesandbox.io/s/react-fiddle-forked-68mcz?file=/src/App.js&resolutionWidth=320&resolutionHeight=675

![Screenshot_2](https://user-images.githubusercontent.com/34240697/137348462-e6ec2d70-6620-4d6c-826d-6b1c0f57ecfb.png)
5

[2021-10-14 17:41] jrgarciadev commented on #87
Hey @ahavryliuk, thank you for reporting it!, that's because the `box-sizing` has to be settled by default as follows: `box-sizing: border-box` I will add it to the CssBaseline and it will be available in the next version

By the moment if you want to solve this you can put the next line into your global css

[code]

[2021-10-14 18:23] ahavryliuk commented on #87
@jrgarciadev I ended up using `react-grid-system` as a few more issues raised as I tried to make a Grid inside a container.

Thanks for the solution tho! The framework is awesome

[2021-10-16 05:23] iharshr opened #88 "New component: Tabs"
tabs would be great addition

something like this  https://ant.design/components/tabs/

[2021-10-17 15:43] LeoBlouin opened #90 "New component : Sidebar"
Hi ! Congratulations for your work. I love NextUI and I think you have a very big potential.

I think a new component like navbar/sidebar should be great idea.

Something like this : [https://vuesax.com/docs/components/Sidebar.html#default](https://vuesax.com/docs/components/Sidebar.html#default)

[2021-10-17 20:30] jrgarciadev commented on #47
Hi, @I-am-abdulazeez thanks for your recommendation but for now we are only focused on coming out components and fix issues then we will consider adding new loading types 👍🏻

[2021-10-17 20:30] #47 closed

[2021-10-17 20:35] #30 closed

[2021-10-17 23:52] jrgarciadev commented on #43
Hi! @JosiasAurel I was checking this out and I found the problem in the `_app.js` file you aren't destructuring the params,

You have this:

[code]

You should be destructuring the params as follows:

[code]

After doing that works fine for me, hope this helps you, I'm going to close this issue 👍🏻

[2021-10-17 23:52] #43 closed

[2021-10-17 23:55] jrgarciadev commented on #38
Hi! @ibrahimtelman I hope you're doing well, do you have any updates on this issue? 🙋🏻‍♂️

[2021-10-22 20:57] I-am-abdulazeez opened #93 "Modal Page in docs"
**Describe the bug**
Full Screen Modal misbehaves... it open but does not come in view, until you scroll down a little

**Steps to reproduce**
1. Go to 'https://nextui.org/docs/components/modal#full-screen'
2. Click on 'Open Modal'

**Expected behaviour**
Show open Modal by default to the screen

[2021-10-29 12:23] ManuelMaciel opened #102 "Fullscreen modal in the docs is closed"
**Bug**
When opening the full screen modal in the docs, it closes immediately

**Steps to reproduce**
1. Go to docs in the modals section
2. Click on open modal in full screen mode

**Expected behaviour**
it should open the modal, instead it just closes and does not show any error in the console.

**Screenshots**
I have a video

https://user-images.githubusercontent.com/34004828/139433031-85f587e0

[2021-10-29 12:27] #102 closed, assigned to nobody

[2021-10-29 13:52] jrgarciadev opened #103 "New component : Pagination"
**Describe the solution you'd like**
Create a Pagination component for displaying active pages and navigating between multiple pages

[2021-10-30 13:28] yuriwithowsky opened #104 "Avatar component doesn't resize the image"
**Describe the bug**
I have an image that is much larger than the size of the Avatar component and it doesn't resize the image.

**Steps to reproduce**
When adding a very large image in the Avatar component

**Expected behaviour**
The image needs to be resized based on the size of the Avatar component.

**Screenshots**
Actual:
![Captura de Tela 2021-10-30 às 10 26 07](https://user-images.githubus

[2021-10-30 21:15] carlosriveroib commented on #38
If I understand correctly, is it only necessary to add the attributes aria-label with the value of children and aria-disabled with the value of the disabled prop to the component?

[2021-10-31 00:21] jrgarciadev commented on #104
Thanks for reporting it @yuriwithowsky 🙌🏻

[2021-10-31 03:30] jrgarciadev commented on #38
Hey @carlosriveroib eyes that's it and the 'tabindex=-1" when it's disabled and 'tabindex=0' when it's enabled, would you like to take this issue? 🙋🏻‍♂️

[2021-10-31 10:30] carlosriveroib commented on #38
Yes, sure. What should I add to aria-label when there is only icon? Should I update docs with this info? Sorry this is going to be my first contribution to an open source project

[2021-10-31 15:35] jrgarciadev commented on #38
Hey, @carlosriveroib it's not necessary to update the docs because this does not impact input/output parameters, regarding the button icon you could add  `role= presentation` to denote that the icon is not an interactive element, and only used for presentation 🙋🏻‍♂️

[2021-10-31 22:58] carlosriveroib commented on #38
Pull request created!

[2021-11-01 09:53] pgn-mahbub opened #106 "Proposing for a navbar, sidebar"
**Is your component proposal related to a problem? Please describe.**
I propose updating a navbar or a sidebar as like vuesax's sidebar.

**Describe the solution you'd like**
A few months ago I tried for a sidebar with 100% responsiveness. Although I have done the component I'm not satisfied. That is the reason I felt it would be best for us. I'll include those links or details you need.

**Descri

[2021-11-01 12:44] carlosriveroib opened #107 "Alphabetize sidebar"
**Describe the bug**
Sidebar isn't alphabetize. This makes it difficult to find components in Sidebar, especially as it grows and there are many more of them.

**Steps to reproduce**
1. See components sidebar to check it isn't alphabetize

**Expected behaviour**
Sidebar should be alphabetize

[2021-11-01 12:58] jrgarciadev commented on #106
Hey @pgn-mahbub thanks for your proposal, the Sidebar issue it's already created here -> #90

[2021-11-01 12:58] #106 closed

[2021-11-01 13:11] jrgarciadev commented on #107
Hey @carlosriveroib the sidebar it's intentionally sorted based on more attractive components, latest components, time spent on that component, etc.. this will remain until the NextUI has the beta version, then I will sort it by name and sub-categories 🙋🏻‍♂️

[2021-11-01 13:11] #107 closed

[2021-11-01 19:07] jrgarciadev opened #110 "Migrate docs to next.js 12"

[2021-11-02 13:27] #104 closed

[2021-11-03 02:56] #103 closed

[2021-11-03 02:56] #38 closed

[2021-11-03 14:23] jrgarciadev commented on #93
Hey guys @I-am-abdulazeez @LeoBlouin @Alejandroid17, could you please try again with the latest published version (Alpha 57)?

[2021-11-03 14:26] LeoBlouin commented on #93
Hi, for me the problem is solved. Thank you !

[2021-11-03 15:45] #93 closed

[2021-11-03 17:20] Alejandroid17 commented on #93
now works perfectly :rocket:

[2021-11-04 19:01] dartilesm opened #112 "NextUI support Vite build?"
## Describe the bug
Hi @jrgarciadev, I'm using your lib in some projects and it works fine congrats 🎉 . However, in a project built with Vite the build show a blank page. I let you some screenshot below.

## Steps to reproduce
1. Create a simple react project with Vite running this command `npm init vite@latest <proyect-name>`
2. Install NextUI lib (in my case it was the 1.0.1-alpha.57 version)
3.

[2021-11-05 00:44] jrgarciadev commented on #112
Hey @dartilesm I'm glad you liked NextUI 🙌🏼, thank you for detailing this, I've followed the same steps and works fine for me, could you please share your node/npm/yarn versions?

 Here's a screenshot:

![Screenshot 2021-11-04 at 21 44 29](https://user-images.githubusercontent.com/30373425/140439722-af7bfa6a-e37c-43fd-b60e-c647700ca0c1.png)

[2021-11-05 13:33] dartilesm commented on #112
@jrgarciadev It's weird 🤔, even before reporting this issue I deployed the repository in vercel and got the same error. Also I tried to follow the same steps but with `create-react-app` and I had no problems.

`npm -v -> 6.14.13`
`yarn -v -> 1.22.10`
`node -v -> 14.17.1`

![ezgif com-gif-maker (3)](https://user-images.githubusercontent.com/21966352/140518046-063fdb1e-1077-425f-8b5c-bbba1655a62b.gi

[2021-11-05 13:52] jrgarciadev commented on #112
Hey @dartilesm 🙋🏻‍♂️ the example repo works fine for me too, could you update your `npm`version to the version `7.24.1`and try again?

[2021-11-05 18:58] lohnsonok opened #113 "Input double border at focus and the black border effect at hover not working in v1.0.1-alpha.57"
**Describe the bug**
The fields are covered with double border at focus and the black border effect at hover no longer works for all inputs

**Steps to reproduce**
1. Update to latest version v1.0.1-alpha.57
2. Click on an Input bordered
4. See error

**Expected behaviour**
Clear working hover state and focus state like in previous version v1.0.1-alpha.56

**Screenshots**
![Capture d’écran de 2021

[2021-11-05 19:07] jrgarciadev commented on #113
Hey @lohnsonok thank you for reporting it, I'm going to check this out 👍🏻

[2021-11-06 19:13] lohnsonok commented on #113
Ok thank, will check

[2021-11-06 19:14] jrgarciadev commented on #113
Hey @lohnsonok this will be available in the next version (Alpha 58)

[2021-11-06 19:17] lohnsonok commented on #113
Okay. Thank you for faster fixing !

[2021-11-07 14:43] dartilesm commented on #112
@jrgarciadev sorry for the late reply.

I've updated my npm version to `7.24.1` and it's still happening 🤔!
![nextui-2](https://user-images.githubusercontent.com/21966352/140649523-83bfab6f-a449-4db3-948d-ffdb470741a1.gif)

I also deployed it again to vercel, and the problem still happening.
You can visit the app [here](https://next-ui-vite.vercel.app/)

![image](https://user-images.githubusercont

[2021-11-07 14:49] dartilesm commented on #112
In my phone it appears as blank page 😢
![Screenshot_2021-11-07-11-47-50-396_com.android.chrome.jpg](https://user-images.githubusercontent.com/21966352/140649974-085025a6-5b58-46d1-8c6d-4e8545b5ada5.jpg)

[2021-11-08 14:54] jrgarciadev opened #116 "Update kbar to the current version"

[2021-11-09 21:33] devpikachu opened #117 "Card.Footer not respecting theme"
**Describe the bug**
Using the `docs` package as a reference, I attempted to implement a theme toggle for my website, as I found no documentation for this. Everything seems to be functional as expected, except for Card.Footer which remains with a background color of `#fff`.

**Steps to reproduce**
1. Using the latest version, implement a simple theme toggle using `use-dark-mode` and `React.useStat

[2021-11-09 21:44] jrgarciadev commented on #117
Hey @devpikachu thanks for reporting it, I will check this out as soon as possible

[2021-11-10 02:45] jrgarciadev commented on #117
Hey @devpikachu I've fixed the bug. However, this will be available in the next version (Alpha 58) I hope to release it as soon as possible, here's the PR #118

[2021-11-10 08:54] devpikachu commented on #117
Hey @jrgarciadev ! Thank you for the prompt reply on this! No worries on the Alpha, as the app is still in development and I have a quick workaround by setting the footer's color property until then.

[2021-11-11 16:40] devpikachu opened #119 "Add the ability to change <Input /> background color"
**Is your iteration request related to a problem?**
Add the ability to change `<Input />` background color.

**Describe the solution you'd like**
Currently, the `<Input />` background, on light mode, is set to `palette.accents_2`, and on dark mode, to `palette.accents_1`. This works great when overlayed on a card on light mode, but on dark mode, both the card and the input take on `palette.accents

[2021-11-15 20:24] SellersEvan commented on #90
Sidebars and navbars would be a great addition. It would also be awesome to have bottom navbars for mobile web apps, and empty states. I saw another UI framework call these patterns, which I think is a great way to differentiate them from regular components.

[2021-11-16 08:46] HHongVu opened #120 "Components/Input"
**Describe the bug**
A clear and concise description.

**Steps to reproduce**
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behaviour**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment / Context**
- Desktop or Mobile?
- Operating System: [e.g. iOS]
- Bro

[2021-11-16 12:24] jrgarciadev commented on #120
Hey @HHongVu ✋🏻, what's the problem here?

[2021-11-17 04:30] utopy opened #121 "onChange doesn't get triggered with spacebar"
Input's onChange event doesn't get triggered when pressing space on text input; For this reason the value passed to the input doesn't register spaces.

    const [productState, setProductState] = useState<ProductInterface>({
        name: "",
    })

    function handleChange(e:ChangeEvent<FormElement>){
        console.log(e)
        setProductState({
            ...productState,
            [e.t

[2021-11-17 12:04] jrgarciadev commented on #121
Hey @utopy thank you for reporting this, I will check it out 👍🏻

[2021-11-17 17:43] #120 closed

[2021-11-19 18:51] PatrickNiyogitare28 opened #122 "Can not find module '../utils/types' or its corresponding type declarations"
# Cannot find module '../utils/types' or its corresponding type declarations

Building for production is failing as `@nextui-org` is throwing the error

**Steps to reproduce**
1. Install the library using `yarn install @nextui-org/react`
2. Build for production with `yarn build`

**Expected behaviour**
The build fails with the bellow error log
[code]

**Screenshots**
![image](https://user-images.g

[2021-11-20 13:57] carlosriveroib commented on #122
This is working for me using the same versions on MacBook M1 Pro with macOS Monterey

[2021-11-20 14:27] carlosriveroib commented on #121
I copied your code and it's working for me. Space is firing the onChange event
![2021-11-20 15 22 19](https://user-images.githubusercontent.com/9528363/142729942-d1fd07d3-7d05-4f81-a2fc-89ffeccc3f7f.gif)

[2021-11-20 15:59] utopy commented on #121
I tested it again at the root of my project, right before the router, an it seems to work [(this is the example code)](https://codesandbox.io/s/funny-haibt-cdvf8?file=/src/App.js:368-472).
I tested it inside my component (with the same code) and it didn't work; it's strange because every other value change is being recognized, but at this point I'm thinking there must be an error in my implementat

[2021-11-20 17:59] carlosriveroib commented on #121
Can you upload this code to Github and share the link?

[2021-11-21 07:04] I-am-abdulazeez commented on #93
Works perfectly 🚀🚀🚀

[2021-11-22 09:36] PatrickNiyogitare28 commented on #122
I deployed the app on vercel and the builds kept failing as well
Down are the logs

[code]

[2021-11-22 22:32] Matteo-Peronnet commented on #121
I am facing the same problem.

The space bug comes when we wrap the Input component with the Card component.

Sorry, I couldn't create the codesandbox with the Card component, it was giving me an error.

I tested locally and reproduced the problem directly.

[2021-11-23 12:16] jrgarciadev commented on #121
Hey guys, @Matteo-Peronnet made a PR for solving this, it will be available in the Alpha 58 version

[2021-11-23 16:15] utopy commented on #121
awesome, thank you guys for the amazing work done so far!

[2021-11-25 21:13] OrhanTozan commented on #122
@jrgarciadev I think the question label can be replaced with the bug label.

[2021-11-25 21:22] jrgarciadev commented on #122
Hey guys 🙋🏻‍♂️, I'm currently migrating the engine styles from styled-jsx to stitches, this issue should be fixed with that and a lot of features will be included 🙌🏻, I hope to release the next version by the end of the month

[2021-11-25 22:32] OrhanTozan commented on #110
What needs to be updated?

[2021-11-26 06:04] PatrickNiyogitare28 commented on #122
Is there any community, I would like to be updated when this fixed out. I'm glad that you're working on it

[2021-11-26 09:22] carlosriveroib commented on #122
Yes, there is a Discord community. You can join here https://discord.gg/9b6yyZKmH4

[2021-12-03 09:19] Matteo-Peronnet opened #126 "DarkTheme TextArea and Button Loading"
**Describe the bug**
When we use the dark theme with a TextArea component in the page, there is a glitch effect with the button loading.

This does not happen with InputText components.

Maybe a class conflict?

I have made a codepen accessible.

**Steps to reproduce**
TextArea **BUG** : https://codesandbox.io/s/fetch-sample-forked-re48o
Text **Working** : https://codesandbox.io/s/fetch-sample-for

[2021-12-17 23:21] lindamacdonald commented on #90
Absolutely agree🙂

[2021-12-23 06:21] PissMan420 opened #127 "Components/Avatar"
**Describe the bug**
the avatar component should have a onClick callback

**Steps to reproduce**
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behaviour**
I should be able to have a onClick={() => alert(“hi”)} prop working

**Screenshots**
If applicable, add screenshots to help explain your problem.
![81D5889C-E327-4E44-B207-DCA8854CBFEE](https://user-images.g

[2021-12-27 01:56] jrgarciadev commented on #126
Hey @Matteo-Peronnet thanks for reporting it, could you please try it again with the latest version `v1.0.2-alpha.1`?

[2021-12-27 01:57] jrgarciadev commented on #127
Hey @PissMan420 thanks for reporting it, could you please try it again with the latest version v1.0.2-alpha.1?

[2021-12-27 01:57] jrgarciadev commented on #121
Hey @utopy  could you please try it again with the latest version v1.0.2-alpha.1?

[2021-12-27 01:58] jrgarciadev commented on #113
Hey @lohnsonok could you please try it again with the latest version v1.0.2-alpha.1?

[2021-12-27 02:26] jrgarciadev commented on #119
Hey @devpikachu I'm glad to say that due to NextUI styles engine was totally migrated from `styled-jsx` to `stitches` you can use `css` prop, `styled` function or even style the `Input` component with you preferred style library, you can see de detailed documentation about how to override styles [here](https://nextui.org/docs/theme/override-styles)

[2021-12-27 02:26] #119 closed

[2021-12-27 02:27] jrgarciadev commented on #112
Hey @dartilesm could you please try this again using the latest version `v1.0.2-alpha.1`?

[2021-12-27 02:30] PissMan420 commented on #127
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/37189791/147428351-12235f4f-449d-49e8-8bc4-3706d26e9ced.png">
hurray it work!

[2021-12-27 02:31] jrgarciadev commented on #127
@PissMan420  Excellent!, I'm gonna close this issue 👍🏻

[2021-12-27 02:31] #127 closed

[2021-12-27 02:34] PissMan420 commented on #127
@jrgarciadev What are some easy things I can do to help with this project code?

[2021-12-27 02:35] PissMan420 commented on #116
What is the kbar?

[2021-12-27 02:39] jrgarciadev commented on #116
kbar is a `CMD + K` library which we implemented on NextUI, [KBar Docs](https://kbar.vercel.app/), has been updated lately with many new features that would be great to have on the NextUI docs site

[2021-12-27 02:42] utopy commented on #121
I just updated the version and tested the same component of the issue and it still doesn't work. Do i have to update something inside the component?

Right now it's 3am, gonna test it on a separate project as soon as I get to work tomorrow :)

[2021-12-27 02:49] jrgarciadev commented on #121
I just tried on CodeSandBox with the latest version and It's working [Demo](https://codesandbox.io/s/quirky-noyce-zbtux?file=/src/App.js) 🙋🏻‍♂️

[2021-12-27 02:49] #121 closed

[2021-12-27 14:51] jrgarciadev commented on #122
Hey  @PatrickNiyogitare28  could you please try it again with the latest version v1.0.2-alpha.1?

[2021-12-27 14:51] jrgarciadev commented on #117
Hey  @devpikachu   could you please try it again with the latest version v1.0.2-alpha.1?

[2021-12-27 15:43] utopy commented on #121
Yes, you are right, it works! I simply had to delete parcel cache and rebuild everything! Thank you for the fix :) again awesome work, i hope to contribute someday!

[2021-12-28 16:11] dartilesm commented on #112
Hi @jrgarciadev Merry Christmas!! Yes, sure I'll try again in few days.

[2021-12-30 17:51] devpikachu commented on #117
Hello @jrgarciadev ! Can confirm, this has been fixed under 1.0.2-alpha.1. Thank you!

![Peek 2021-12-30 19-51](https://user-images.githubusercontent.com/30475873/147776319-f76bd823-1e80-46b7-84d9-f039499dc436.gif)

[2021-12-30 17:51] #117 closed

[2021-12-30 22:01] PatrickNiyogitare28 commented on #122
Yeah sure, let me check... I will let you know

[2021-12-30 22:55] PatrickNiyogitare28 commented on #122
Hey @jrgarciadev , building for vite is failing still with new error logs different to the previous one.
[here](https://github.com/PatrickNiyogitare28/nextui-vite) I created a basic vite typescript app and added [nextui](https://nextui.org/) ... We can use it regularly testing this fix, you can automatically deploy it with vercel. It also contains the current error log when build for production

[2021-12-31 02:53] jrgarciadev commented on #112
Hey @dartilesm Merry Christmas! 🎄,  don't worry 👍🏻

[2021-12-31 03:16] jrgarciadev commented on #122
Hey @PatrickNiyogitare28 the problem is not on NextUI, it's on the tsconfig.json since is checking types on libraries which is not totally correct because NextUI has its tsconfig.json, so for fixing it you have to turn `skipLibCheck` config param off, as follows:

tsconfig.json
[code]

Results:
![Screenshot 2021-12-31 at 00 07 34](https://user-images.githubusercontent.com/30373425/147800817-285bba

[2021-12-31 03:16] #122 closed

[2021-12-31 03:22] PatrickNiyogitare28 commented on #122
You're right @jrgarciadev, now It builds  successfully

[2022-01-07 11:52] luishrodg commented on #76
a table component will be very usefull to my projects

[2022-01-07 19:39] dartilesm commented on #112
@jrgarciadev I tried it again and the error changed, but with different message. I show you my changes:

![image](https://user-images.githubusercontent.com/21966352/148597340-3e73ac11-cffa-4702-a0e9-fff35ec9883b.png)
![image](https://user-images.githubusercontent.com/21966352/148597353-e00e5430-3db2-4cef-b93f-a3151693310b.png)
![image](https://user-images.githubusercontent.com/21966352/148597399-8

[2022-01-07 19:43] dartilesm commented on #112
I let you my commit https://github.com/dartilesm/next-ui-vite/commit/fb7e51aa834f3caf588194ab1b69131ac636bf6b
You must accept my invitation to access the repository.

[2022-01-08 03:48] rendinjast opened #134 "@babel/runtime could not resolve"
**Describe the bug**
HI.
Library need @babel/runtime and in some case it's not preinstalled, so we get an error that says could not resolve @bable/runtime.

Installing @bable/runtime fixes the error, but it should be a dependency for @nextui-org/react

**Steps to reproduce**
- yarn create vite
- setup a React (JS) project
- install @nextui-org/react
- run dev server

**Environment / Context**
- Op

[2022-01-08 19:23] jrgarciadev commented on #134
Hey @rendinjast  thanks for reporting it

[2022-01-10 13:53] musaabdullah opened #135 "RTL suppert"
I can't change the dir how to component.

[2022-01-11 19:57] SalahAdDin commented on #112
@dartilesm Does it finally works?

[2022-01-12 14:04] jrgarciadev commented on #135
Hey @musaabdullah NextUI doesn't support RTL yet, we hope to add it in near future 🙌🏻

[2022-01-12 14:04] #135 closed

[2022-01-15 19:25] remorses opened #136 "Allow passing custom className to `createTheme`"
**Is your iteration request related to a problem?**
When using `createTheme` the class name used by stitches will always be `light-theme` and `dark-theme`

Currently there is no way to customize this class, which is very important if you are already using a different class like `light` and `dark` together with `next-themes`

**Describe the solution you'd like**
Allow passing `className` to `create

[2022-01-15 19:50] remorses opened #138 "Allow disabling the input elevation animation"
**Is your iteration request related to a problem?**
I think the bordered Input is the best looking, but i don't like the elevation animation on focus

**Describe the solution you'd like**
Allow passing a prop like `disableElevationAnimation` that disables this behaviour (only on bordered and normal variants)

**Additional context**
This library looks awesome! really great work 🔥

[2022-01-15 19:55] brettdoyle44 commented on #26
Do you have an expected date for this feature @jrgarciadev ?

[2022-01-16 11:22] crubier opened #139 "Slow performance on doc website"
**Describe the bug**

I was initially very interested by nextui, especially the runtime performance story as compared to chakraui for example. But then I realized the website is noticeably slow. Which is confirmed by profiling:

**Steps to reproduce**

Profil changing pages on various CSS libraries websites:

[ChakraUI](https://chakra-ui.com/docs/form/button) is using emotion, takes ~100ms to chan

[2022-01-16 12:49] jrgarciadev commented on #139
Hey @crubier, thank you for your detailed explanation, It seems to be affected by having 2 CSS libraries together, we recently migrated all components from `styled-jsx` to `stitches` but the docs website is still running with `styled-jsx` with some parts done in `stitches`, I'm working on a new landing page and on the migrating the docs website to `stitches`

I'm glad you want to use NextUI 🙌🏻

[2022-01-16 14:23] remorses commented on #138
What if we add a new token in the theme called `$inputHoverElevation` and let the user customize it via the theme? I can open a PR if you like this solution 👍

[2022-01-16 18:15] #136 closed

[2022-01-17 14:06] jrgarciadev commented on #126
Hey @Matteo-Peronnet I tried this and it doesn't keep happening -> https://codesandbox.io/s/fetch-sample-forked-904ei?file=/src/App.js,

I'm going to close this issue, thanks for reporting it 🙌🏻

[2022-01-17 14:06] #126 closed

[2022-01-18 00:50] jrgarciadev commented on #138
Hey @remorses thanks for your proposals, I'm into the first one `disableElevationAnimation`, could you please implement it? 🔥

[2022-01-19 23:22] kalwabed opened #141 "Typo in Getting started section"
**Describe the bug**
I found a small typo in the Getting started guide.

**Steps to reproduce**
1. Go to https://nextui.org/docs/guide/getting-started
2. Click on '....'
3. Scroll down to https://nextui.org/docs/guide/getting-started#communnity
4. See a typo

**Expected behavior**
It should be **Community**, not **Communnity**.

[2022-01-20 00:51] jrgarciadev commented on #141
Hey @kalwabed thanks for reporting it

[2022-01-20 00:55] #141 closed

[2022-01-21 13:20] Oleven opened #143 "Input clearable is getting emptied on submit"
**Describe the bug**
If you put the *clearable* attribute on an Input, pressing enter on it clears the input itself before propagating to the form submit button.
Pressing enter should result in a form submit with such input valued at what the user typed, instead the input gets cleared.
The same doesn't apply if you manually click on the submit button, and this is related to the nature of the butto

[2022-01-21 20:14] jrgarciadev commented on #143
Hey @Oleven thanks for reporting it, I will check this out asap

[2022-01-22 03:31] #143 closed

[2022-01-22 14:53] chanthavong opened #148 "it is error after testing with jest"
**Describe the bug**
A clear and concise description.

Code page
[code]

My testing code
[code]

Error text
[code]

[2022-01-22 18:50] TDiblik opened #149 "New docs UI sidebar glitches (overlays the navbar) when scrolling down"
**Describe the bug**
When you're scrolling on the right side of the docs page on Microsoft Edge, you are able to overlay sidebar on top of the navbar.

**Steps to reproduce**
1. Scroll on the right side of the page
2. After you're down on the bottom of the page, keep scrolling
2b. If you're unable to reproduce this bug, sometimes you have to place you're currsor on the left side of the page (as sh

[2022-01-22 20:38] jrgarciadev commented on #148
Hey @chanthavong it looks like `@nextui-org/react` is not installed in your project, could you try to install it again?

[2022-01-22 20:40] jrgarciadev commented on #149
Hey @TDiblik  Thanks for reporting it 👐🏻

[2022-01-22 23:33] mariusflorescu opened #151 "Mobile navigation does not close when changing routes"
**Describe the bug**
Whenever you are in the mobile navigation and you click on any link the navigation won't automatically close.

**Steps to reproduce**
1. Be in a viewport that uses the hamburger menu
2. You need to be on any page from the docs (expect landing)
2. Open it
3. Click on any link

**Expected behaviour**
The drawer should automatically close whenever you click on a link

**Screensho

[2022-01-23 07:31] TheAlphaReturns opened #154 "Issues using create-react-app [react-scripts v5]"
**Describe the bug**
Blank page when creating a hello world

**Steps to reproduce**
1. Make a new create react app and instantly eject it
2. Install nextui
3. make a hello world
4. its a blank screen

**Expected behaviour**
a hello world

**Screenshots**
my pleasure

![nextui1](https://user-images.githubusercontent.com/61358474/150668828-52ee03da-f0e7-4438-8276-a15a3945a3f5.png)
![nextui2](https:/

[2022-01-23 08:56] anridev24 commented on #154
If you check console, there are lots of error. It's not working

[2022-01-23 11:52] mariusflorescu commented on #154
Hi @TheAlphaReturns, apparently this has nothing to do with the `eject` script.

[2022-01-23 13:15] #149 closed

[2022-01-23 13:24] #151 closed

[2022-01-23 13:26] jrgarciadev commented on #113
Hey @lohnsonok I tried this and it's working, I'm going to close this issue 👍🏻

[2022-01-23 13:26] #113 closed

[2022-01-23 14:07] TheAlphaReturns commented on #154
Something about no create stitches function yes

[2022-01-23 14:30] mariusflorescu commented on #154
@TheAlphaReturns no, there is nothing that you are doing wrong.

Until it gets fixed, I think I found a workaround.

In your `package.json`, decrease the version of `react-scripts` to version 4.

example:
[code]

[2022-01-23 14:31] TheAlphaReturns commented on #154
Is react scripts included in ejected create-react-app?

[2022-01-23 14:34] mariusflorescu commented on #154
Sorry, my bad, it won't work since you are trying to eject (forgot the key point of your issue).
There is an issue that needs some investigation.

[2022-01-23 15:06] jrgarciadev commented on #154
Hey @TheAlphaReturns right @mariusflorescu commented before you can solve this decreasing the `react-scripts` to the `v4`, I will look into what changed in react-scripts `v5` and try to figure that out with the `Stitches` team

[2022-01-23 15:43] anridev24 commented on #154
@TheAlphaReturns if you are using Typescript downgrade `react-scripts` to `v4` also `typescript` to` 4.1.0` delete `tsconfig.json` then delete `yarn.lock`  or `package-lock.json` also remove `node_modules` and finally  run `yarn` or `npm install`, and it should work

[2022-01-23 21:04] TheAlphaReturns commented on #154
For now I'll use unejected JavaScript create-react-app

[2022-01-23 21:44] jrgarciadev commented on #134
Hey @rendinjast I just released version `v1.0.1-beta.2` which includes the solution for this 🙌🏻

[2022-01-23 21:44] #134 closed

[2022-01-23 21:45] jrgarciadev commented on #112
Hey @dartilesm  I just released version v1.0.1-beta.2 which includes the solution for this 🙌🏻

[2022-01-23 21:45] #112 closed

[2022-01-25 07:35] jcho0216 opened #157 "Input type="file""
Hi! I am a frontend developer from S.Korea. I really love your work and I am currently using this library in my personal project :)

while I was using your Input component I found out that there was no Input type="file" prop implemented.
I think this feature is going to be very useful to my further projects

something like this
https://ant.design/components/upload/

thx

[2022-01-25 12:59] TheAlphaReturns commented on #154
ok so just tested. ejected create-react-app, using react-scripts v4 works

[2022-01-26 12:47] jaseem1999 opened #158 "camera and dark mode button"
**camara and dark mode button**

![pro](https://user-images.githubusercontent.com/65609243/151165407-c4c3c7be-2588-480d-a811-9475dbcbdaf2.png)

[2022-01-26 17:03] Oleven opened #160 "Input "datalist" property"
**Is your iteration request related to a problem?**
Input missing **datalist** property.

**Describe the solution you'd like**
Simply add a dataList property to the Input component to allow people to use it.

**Additional context**
Of course, a Select component, in my specific case, would be a perfect fit, but a datalist is something people could still need.

[2022-01-26 17:29] calogeroguagenti commented on #139
Yup! Noticed the same @crubier.

@jrgarciadev I would love to use NextUI for custom projects. Looks very interesting!

[2022-01-26 18:33] Klerith opened #161 "Warning: Received `false` for a non-boolean attribute `sm`."
Hi, (awesome ui components first of all)

I'm using Next-UI with Next.js and TypeScript, as soon I use the ```<Text>``` component, I received this Warning / Error.

[code]
I triple check the documentation and everything seems to be in order, I also create a repo for you to test the error.

[https://github.com/Klerith/nextui-text-error](https://github.com/Klerith/nextui-text-error)
Just clone / yar

[2022-01-27 11:38] klimsemenov86 opened #162 "Add expanded prop to the Collapse component"
**Is your iteration request related to a problem?**
I need a way to control the expanded state of the Collapse component. For example, when I click on the button I need to collapse the Collapse component if it was expanded before.

**Describe the solution you'd like**
The expanded prop as @jrgarciadev proposed.

**Additional context**
Here is the case: https://take.ms/TMG83

[2022-01-27 17:38] klimsemenov86 commented on #161
Yes, I have the same warning in the console.

The page is super simple:

[code]

<img width="1440" alt="localhost:3000 2022-01-27 20-36-16" src="https://user-images.githubusercontent.com/55379313/151413156-5f907e3b-99a6-4c25-903e-dbbaffa9157a.png">

Also nextjs 12 with TS.

[2022-01-27 19:21] DaniAcu commented on #162
@jrgarciadev Could you assign me?

[2022-01-27 19:23] jrgarciadev commented on #162
For sure @DaniAcu 🙌🏻

[2022-01-27 20:02] mariusflorescu commented on #157
What I'm suggesting is another component rather than polluting the existing input component.
PS: This could be moved to the discussions section.

[2022-01-27 20:32] Klerith commented on #161
NextUI looks sick! love it... I'm creating an online course and one of the sections is going to be with NextUI

[2022-01-28 00:38] LGR3VE opened #169 "Uncaught TypeError: (0 , _react.createStitches) is not a function"
When creating a blank react app (`npx create-react-app my-app`), installing the latest NextUi package (1.0.2-beta.2) and importing
`import {NextUIProvider} from "@nextui-org/react";`

I get the following error:
[code]

[2022-01-28 01:49] imchell opened #170 "Official website sidebar not showing correctly"
**Describe the bug**
Sidebar item `Link` hides outside the viewport.

**Steps to reproduce**
1. Visit [components page](https://nextui.org/docs/components/avatar).

**Expected behaviour**
Just display it normally so that `Link` is accessible by clicking on the sidebar directly.

**Screenshots**
[A short recording](https://drive.google.com/file/d/1rKHTBv61IvXxvwhIAP--NIz8aXeB1ikc/view?usp=sharing)

[2022-01-28 01:58] jrgarciadev commented on #169
Hey @LGR3VE unfortunately in the last version of `react-scripts` (v5) appear this problem, we are working to resolve it, a workaround is to downgrade the `react-scripts` library to version 4 -> here's a detailed explanation https://github.com/nextui-org/nextui/issues/154#issuecomment-1019497379, I will close this issue because it's duplicated here's the firs one -> https://github.com/nextui-org/ne

[2022-01-28 01:58] #169 closed

[2022-01-28 03:38] #170 closed

[2022-01-28 04:09] Dhananjay-JSR commented on #158
Can someone explain the issue to me ??

[2022-01-28 06:16] gr8pathik commented on #158
I think the search box is overlapping the camera and the dark mode button is the issue

[2022-01-28 07:27] Sayantan-s opened #172 "New Component: Range-slider"
Would love to see something like 1. & animatable like 2.
1. https://chakra-ui.com/docs/form/range-slider#customizing-the-slider
2. https://www.framer.com/components/slider/

[2022-01-28 09:41] shaynlink opened #174 "Remove focus border (outline) on safari"
First sorry for my English 😅

Isn't really a bug, focus border (aka outline) is a default css in all navigator, it's not working on chrome but it's on safari.

**Why remove outline ?**
What is outline ? outline is a default css style active when a div (or other component) is focused, for indicate to user that this component is used.
But when outline is active, on toggle you have an unpleasant feel

[2022-01-28 12:43] Joaovsa7 opened #177 "[website] Toggle of Dark mode is effortless section is very slow"
**Describe the bug**
Hey Guys.

It's not exactly a bug, but i realized that the toggle of `Dark mode is effortless.` is very slow. And i don't know if you guys realized this behavior so i'm opening this issue.

**Steps to reproduce**
1. Go to 'https://nextui.org/'
2. Scroll down to section 'Dark mode is effortless.'
3. Click on 'toggle to see the theme changing very slow'
4. See error

**Expected

[2022-01-28 15:58] NasserBvB opened #178 "Text component: Received `false` for a non-boolean attribute `sm`."
Trying to use Text component , it shows the next warning about a non boolean attribute sm prop that I never used .

To reproduce try to install the library in nextjs project using the typescript template. create a component that uses the Text component without providing any props. It will show the next warning .
![image](https://user-images.githubusercontent.com/48838783/151579524-a201f638-9559-4c

[2022-01-28 17:48] mariusflorescu commented on #177
In addition to that, whenever the theme is set to `system` and the actual system preferred theme is dark, the switch will be incorrect (default to light).

[2022-01-28 17:50] mariusflorescu commented on #174
@shaynlink thank you for reporting !

[2022-01-28 18:00] jaseem1999 commented on #158
Yes

[2022-01-28 18:00] #158 closed

[2022-01-28 19:33] brettdoyle44 opened #179 "Error when spinning up NextJS app for first time"
Hello,

When I spin up NextJS via npm run dev I consistently get the following error in the console.

[code]

I am not using the 'sm' option anywhere in the application currently - so this seems to be an issue in the package?

[2022-01-28 21:50] #178 closed

[2022-01-28 23:11] Remeic commented on #179
Hi, there is already a bug for this
#161

[2022-01-29 01:13] DaniAcu commented on #162
@jrgarciadev PR is ready to be reviewed and merged. 😆

[2022-01-29 03:00] #179 closed

[2022-01-29 04:24] #177 closed

[2022-01-29 04:25] jrgarciadev commented on #162
Thank you @DaniAcu 🚀, @klimsemenov86 this change is already included in the new version `v1.0.2-beta.3`

[2022-01-29 04:25] #162 closed

[2022-01-29 04:29] jrgarciadev commented on #161
Hey @Klerith that's awesome, looking forward to seeing NextUI in one of your courses 🔥, this issue should already be fixed in the latest version `v1.0.2-beta.3`

Cheers!

[2022-01-29 04:29] #161 closed

[2022-01-29 04:31] jrgarciadev commented on #172
Hey @Sayantan-s  I will close this issue, please share it on the Discussions section? Thanks 🙌🏼

[2022-01-29 04:31] #172 closed

[2022-01-29 06:53] Dhananjay-JSR opened #183 "yarn audit shows 30 vulnerabilities"
**Steps to reproduce**
1. Go to root directory of project in main branch
2. run **yarn audit**
3. Scroll down to end
4. See error

**Screenshots**
![vulner](https://user-images.githubusercontent.com/47073516/151650608-0b15abb0-157d-4451-ae6d-e4e7d40ff304.PNG)

**Environment / Context**
- NextUI Source Package

**Additional info**
Out of 30 Vulnerability
    _3 Moderate_ , _4 Critical_ Vulnerabilit

[2022-01-29 12:21] AdamSlack commented on #154
I found that the suggested workaround brought some additional issues. Specifically with the hot-loading that is bundled in with react/create-react-app. A `process is not defined` error occured each time the app reloaded.

Adding `react-error-overlay` as a devDependency and specifying it as a resolution in the project's package.json helped mitigate it for me (https://stackoverflow.com/questions/703

[2022-01-29 15:55] Joaovsa7 commented on #174
Isn't an outline good for accessibility? I think that we should consider this point before removing it.

What do you think about it?

[2022-01-29 16:06] beko28 opened #185 "Jdjdj"

[2022-01-29 16:12] #185 closed

[2022-01-29 16:13] jrgarciadev commented on #185
Hey @beko28 please don’t open empty issues, thanks 🙌🏻

[2022-01-29 19:02] Dhananjay-JSR commented on #154
I think until a permanent solution is found there should be a mention somewhere in Readme or in Documentation that developer who wish to work with NextUI on a brand new React Project needs to downgrade react-scripts to 4.0.0 from package json file to avoid any issue

[2022-01-29 19:06] Dhananjay-JSR commented on #154
if you got no issue @jrgarciadev  with this can I make PR about changes in docs 😄

[2022-01-29 19:10] jrgarciadev commented on #154
Hey @Dhananjay-JSR that sounds good, could you please create an `issue` to assign it to you?

Thanks 🙌🏻

[2022-01-29 19:18] JJTech0130 commented on #183
See https://overreacted.io/npm-audit-broken-by-design/
Yarn uses the same audit system as npm.

[2022-01-29 19:24] Dhananjay-JSR opened #189 "[Create React App] Rendering White Page"
The Issue begins with react-scripts v5 breaking NextUI Render Components

Temporal Solution :- Downgrade react-script to v4 from the package.json

[2022-01-29 19:24] Dhananjay-JSR commented on #154
#189 there you go @jrgarciadev 😄

[2022-01-29 20:52] Samsonroyal commented on #189
@Dhananjay-JSR I've experienced something similar with a Create React App; the app executes successfully however a white screen is rendered.
what solutions have you tried to implement?

[2022-01-29 21:01] Dhananjay-JSR commented on #189
The Only temporal solution to this is to manually change react-script version to 4.0.0 in package.json file in your root directory and then execute command **npm install**

[2022-01-29 21:26] #183 closed

[2022-01-29 21:59] Samsonroyal commented on #189
Thanks let me try that. 🤝

[2022-01-30 03:02] aryamitra06 commented on #189
I tried after renaming "react-scripts": "4.0.0" in package.json and executed npm install and it worked!! Thanks @Dhananjay-JSR 😁

[2022-01-30 03:53] burhanuday opened #192 "Loading state for buttons using `isLoading` prop"
The button component has a disabled state but not a loading state

**Describe the solution you'd like**
The loading state for buttons is very convenient to have. For example, when submitting a form, you can set prop `isLoading={true}` on the button which would render a spinner inside the button

<img width="108" alt="image" src="https://user-images.githubusercontent.com/25934701/151685971-4a068035

[2022-01-30 19:33] erenkulaksiz opened #197 "isLoading prop for `<Card />`, which will show skeleton loading styling in card"
**Is your component proposal related to a problem? Please describe.**

The problem here is, i am using cards for some dynamic generated content. Currently rendering `<Loading />` component to tell the user that cards is loading. If there was a skeleton type of cards (with isSkeleton prop), instead of showing them the loading component, i can easly show some cards with skeleton styling.

**Describe

[2022-01-30 23:30] Carlos6a opened #198 "Components/Input"
when you find a compilation error, it bugs, you have to delete it and use it again to remove it. gives the following message in console:

Warning: Prop `id` did not match. Server: "nextui-input-egfefba1" Client: "nextui-input-d063o0if"
input
Styled.input
label
Styled.div
div
Styled.div
div
Styled.div
Input<@webpack-internal:///./node_modules/@nextui-org/react/esm/input/input.js:41:54
main
div
Home

[2022-01-31 06:14] creazy231 opened #199 "Append custom Classes to Components"
**Describe the bug**
Want to add some classes to the `<Text />` component without success. Manually added classes simply don't appear.

**Steps to reproduce**
1. Add Text Element
[code]

**Expected behaviour**
[code]

**Current behaviour**
[code]

Maybe this also appears on other elements. Didn't have time to test.

[2022-01-31 11:47] #199 closed

[2022-01-31 11:48] jrgarciadev commented on #199
Thanks for reporting it @creazy231 🙌🏻 , thank you @Dhananjay-JSR for fixing it so fast 🚀

[2022-01-31 13:24] Perni1984 commented on #174
yes it is - better to style the outline in a proper way than to remove it.

https://www.a11yproject.com/posts/never-remove-css-outlines/

[2022-01-31 14:37] sereneinserenade opened #204 "Rich Text Editor Component"
**Is your component proposal related to a problem? Please describe.**
We have a text area right now, but no rich-text editor component.

**Describe the solution you'd like**
I am not the design guy. But there is https://tiptap.dev/ (based on prosemirror) that is supported in react

**Describe alternatives you've considered**
Have you considered iterating an existing component?
no

**Additional con

[2022-01-31 15:30] jrgarciadev commented on #204
Hey @sereneinserenade could you please move this issue to the Discussions section? thanks 🙌🏻

[2022-01-31 15:30] #204 closed

[2022-01-31 15:32] sereneinserenade commented on #204
Yes 👍

[2022-02-01 12:33] jrgarciadev commented on #198
Hey @Carlos6a have you implemented the `CssBaseline.flush()`? https://nextui.org/docs/guide/nextui-plus-nextjs

[2022-02-01 15:34] erenkulaksiz opened #212 "Nesting `<Button />` inside `<Tooltip />` changes button width"
**Is your iteration request related to a problem?**
I have a grid of buttons nested like this.
[code]
When i add tooltip to first button, it wont use 100% width of its parent. I've tried giving styles, even to tooltip itself, but it wont work.

**Describe the solution you'd like**
The container created by `<Tooltip />` should use 100% width, or flex: 1.

**Additional context**
![https://i.imgur.co

[2022-02-01 15:37] erenkulaksiz commented on #212
Also if i remove the minWidth styling from tooltip nested button, it looks like this 😄
![[alt text](https://i.imgur.com/kAtShst.png)](https://i.imgur.com/kAtShst.png)

[2022-02-01 19:50] jesusalber1 commented on #198
Hi, I run into the same issue in my project. It also appears when I run the [nextjs example](https://github.com/nextui-org/nextui/tree/main/examples/create-next-app), see below:
<img width="1440" alt="Screenshot 2022-02-01 at 20 46 08" src="https://user-images.githubusercontent.com/3829533/152040123-6bf01192-ef93-415c-87a6-5d62136c40ec.png">
[code]

[2022-02-01 19:52] jrgarciadev commented on #198
Hey @jesusalber1 we are working on that 🙌🏻

[2022-02-01 20:19] FilipK999 opened #215 "Gradient text is invisible when highlighted"
**Describe the bug**
Gradient text becomes invisible when highlighted

**Steps to reproduce**
Highlight any text with a gradient

**Expected behaviour**
The text should be visible even when highlighted

**Screenshots**
![image](https://user-images.githubusercontent.com/39222209/152033801-08ac6d6b-8b98-4892-80fc-11cb7ee76a1a.png)

[2022-02-02 00:54] andrew3009 commented on #212
Hi,
Please see styling suggestion below to get the tooltip button the same size as the rest of the buttons.

When using the tooltip component, the tooltip needs its height and width set to be your desired size and then you need to set the height and width of the button to fill out the tooltip container using the css prop as by default Button is set to size medium. That is why without the width in

[2022-02-02 02:29] jrgarciadev opened #216 "Code component contrast ratio on light mode"
### Discussed in https://github.com/nextui-org/nextui/discussions/208

<div type='discussions-op-text'>

<sup>Originally posted by **Product-UX** January 31, 2022</sup>
Hi
I am a UX designer and I have shared your work with my Dev team but I would like to ask you to please fix this contrast issue on the "danger" Buttons or Chips. This porky pink does not work with electric pink not contrast and ac

[2022-02-02 13:23] ReangeloJ opened #217 "Card component title on mobile not responsive"
**Describe the bug**
Hey when visiting the Card component page, the title doesnt wrap for the demos with the fruits.  Which make sit look unresponsive. I checked the source code and the container div has, flex:nowrap. Adding wrap would make it look more mobile friendly :)

**Steps to reproduce**
1. Go to '[...](https://nextui.org/docs/components/card)'

**Expected behaviour**
Title wraps when it b

[2022-02-02 13:25] jrgarciadev commented on #217
Hey @ReangeloJ thanks for reporting it 🙌🏻

[2022-02-02 13:30] ReangeloJ commented on #217
@jrgarciadev
No worries :). I like the library and would like to help. I tried joining the discord link but it gave me an error saying cannot join. Do you think you could add me manually? HesusDios#9724

[2022-02-02 13:43] jrgarciadev commented on #217
Excellent would you like to fix this?

here's an invitation -> https://discord.gg/r4VeWd7p

[2022-02-02 14:21] ReangeloJ commented on #217
Yes sure I'm up for it!

[2022-02-02 16:42] max-programming opened #220 "Use Next js Link component instead of router.push"
**Describe the bug**
The current behaviour of the links on the webpage is weird because the `router` is used instead of the Next `<Link>` and `<a>` tags component

**Steps to reproduce**
1. Search for `router.push` method calls
2. Remove the use of those methods
3. Wrap the component/element that needs to be a link in `<Link>` and `<a>`
Example:
[code]

**Expected behaviour**
1. The right-click me

[2022-02-02 17:05] #215 closed

[2022-02-02 18:42] FilipK999 commented on #215
Hi @Dhananjay-JSR, thanks for working on this issue. Why did you revert the core gradient component to its original state in the last commit though? That makes it work only on the main page, it doesn't fix the problem in [the docs](complice) and anywhere else.

I've done some investigating myself and figured out the problem here is a global `::selection` selector specified in `css-baseline.tsx`
If

[2022-02-02 22:53] andrew3009 opened #222 "CONTRIBUTING.MD is incorrect or package.json is missing a script."
**Describe the bug**
In the CONTRIBUTING.MD file step 2 says to start the webpack server.
[code]
But this script is missing from the scripts object in package.json.

**Steps to reproduce**
1. Clone the nextui repo
2. Click on package.json
3. Run ``yarn build:watch``
4. See ``error Command "build:watch" not found.``

**Expected behaviour**
Root package.json should contain the script build:watch if

[2022-02-03 02:14] #220 closed

[2022-02-03 02:45] jrgarciadev commented on #222
Hey @andrew3009, thanks for reporting it, is already solved 🙌🏼

[2022-02-03 02:45] #222 closed

[2022-02-03 02:47] jrgarciadev commented on #197
Hey @erenkulaksiz thanks for the suggestions, however since the `Skeleton` component is not ready yet could you please move this to the Discussions section?, we hope to add the `Skeleton` component after the `v1` stable release

[2022-02-03 02:47] #197 closed

[2022-02-03 02:58] erenkulaksiz commented on #197
Thanks for the response! I'll add this issue to discussions, sure.

[2022-02-03 18:06] erenkulaksiz commented on #212
Hey andrew 🙌
I don't think this is an button width issue. When you add tooltip to a button, if its a grid element then width becomes to button's default width even if i did typed `css={{width: "100%"}}`
I'm currently trying to fix this issue.

![[alt text](https://i.imgur.com/8gbDGI2.png)](https://i.imgur.com/8gbDGI2.png)

[2022-02-03 19:58] andrew3009 commented on #212
@erenkulaksiz It's because the Button is now wrapped in the Tooltip component. So your Button still needs the ``width: 100%`` to fill the Tooltip it's wrapped in and then Tooltip needs ``width: 100%`` to fill the Grid it's wrapped it after that it should match the other button that isn't wrapped in the Tooltip.

I agree it's could be considered an issue with the Tooltip as you think of the tooltip

[2022-02-04 09:02] tomsq opened #227 "Documentation search"
**Describe the bug**
When searching in the docs, the search bar works nicely, when hitting `cmd + k`, the searching doesn't yield any results.

**Steps to reproduce**
1. Go to the official documentation website
2. Press `cmd + k`
3. Try to search for some component
4. Nothing is found

**Environment / Context**
- Desktop
- Operating System: macOS
- Browser and version: Chrome Version 97.0.4692.99

[2022-02-04 13:27] notmedia commented on #189
@jrgarciadev Hi! Do you have any news?

[2022-02-04 16:26] Pedro-99 opened #228 "Components/Card"
The Card.Image component does not working until i replaced it with the Image component of NextJs

[2022-02-04 21:16] jescalan opened #229 "Buttons with icons have uncomfortable padding"
**Describe the bug**
When you add an icon to a button, it does not adjust to accommodate in the button's padding, which leads to it looking like a design error.

For example:

![](https://p176.p0.n0.cdn.getcloudapp.com/items/7KuqWO7n/f8d17b66-a79f-4d60-b2e9-8e0c9fbeebe4.png?v=63b09cc7a8545267b4af803ba9000521)

**Steps to reproduce**
1. Implement the `Button` component with the `icon` property
2. N

[2022-02-05 04:08] jescalan opened #230 "Tooltip placement is entirely broken"
**Describe the bug**
The tooltip element doesn't appear to work at all, and always pins the tooltip to the bottom of the element it's wrapping, rather than the top. I am honestly baffled by how any of the examples on the docs site work.

**Steps to reproduce**
1. Fire up a bare bones app with next-ui loaded up
2. Put in the following markup as an example:
[code]
3. Note that the result looks like

[2022-02-05 13:18] jrgarciadev commented on #227
Hey @tomsq thanks for the suggestion, we have this in the roadmap https://github.com/nextui-org/nextui/issues/116, currently, the searching modal search only the items are showing, there's a notice that says `For an advanced search please use the search input`, we hope to add the advance search also to the modal search soon

![Screenshot 2022-02-05 at 10 15 13](https://user-images.githubuserconten

[2022-02-05 13:18] #227 closed

[2022-02-05 13:36] jrgarciadev commented on #230
Hey @jescalan you can see how any of the docs examples works by clicking on `Live Editor`, there's no mystery, here's a codesanbox where the Tooltip works without problem with the code you put  https://codesandbox.io/s/vigorous-water-000tj?file=/pages/index.js, it would be great if you create a codesanbox with the exact code you are using in order to help you

![Screenshot 2022-02-05 at 10 33 34](

[2022-02-05 13:41] jrgarciadev commented on #229
Hey @jescalan thanks for reporting this, we will fix it as soon as possible 🙏🏻

[2022-02-05 13:44] jrgarciadev commented on #228
Hey @Pedro-99 could you please provide more context? or a CodeSanbox link to the problem you are mentioning?, in order to help you, thanks!

[2022-02-05 14:24] Pedro-99 commented on #228
these are the imported files
<img width="369" alt="c2" src="https://user-images.githubusercontent.com/57238132/152645399-085e83ba-697c-49f8-b4eb-8f28436ad481.PNG">
and this is the the first result that was not working ( <Card.Image />  from "nextui-org" )
<img width="465" alt="r" src="https://user-images.githubusercontent.com/57238132/152645494-ace80673-b55c-4992-af54-67eacd52db1f.PNG">
<img width

[2022-02-05 14:38] Pedro-0550 opened #233 "Icon positioning on button with auto width is broken."
**Description**
The icon positioning is completely broken on the button component when using auto width.

**Steps to reproduce**
1. Put an SVG or Font icon on the icon or iconRight prop.
2. Put the auto prop on the button.
3. See error.

**Expected behaviour**

The positioning should be correct, like it is on the website.
![Excepted](https://image.prntscr.com/image/1MYhoAfOSu25J5nZpS-Mtw.png)

**S

[2022-02-05 19:56] jrgarciadev commented on #138
Hey @remorses I'm going to close this PR since as I mentioned [here](https://github.com/nextui-org/nextui/pull/147)  we will apply this from another approach, thanks 🙏🏻

[2022-02-05 19:56] #138 closed

[2022-02-06 02:35] jrgarciadev commented on #228
Hey @Pedro-99 could you please use this example as a reference to find out the differences with what you are doing-> https://codesandbox.io/s/nextui-cards-91ny8

Hope it helps you 🙌🏼

[2022-02-06 07:03] kr-anurag opened #237 "enhancement: add py prop to the container component"
Currently, the gap prop of the Container component is only about padding of x-axis, but there should be another prop for padding of the y-axis

[2022-02-06 07:58] kr-anurag commented on #237
btw, with your consent, can I work on this?

[2022-02-06 14:02] Pedro-99 commented on #228
i found the problem.
that was not working because the assets are not in the public folder so i copy them to the public folder and added  '/' before the url and that's working well, but i don't know why when i replaced (Card.Image from nextui-org) with (Image from next/Image) it was working well even the assets are outside the public folder.
note: the code you have sent working because you used an

[2022-02-06 14:11] jrgarciadev commented on #228
Great 🙌🏼. , under the hood, the `Card.Image` uses an `<img>` component so you can try using a simple `<img>` component but I recommend that you always use the resources from the `public` path in an absolute way otherwise you could have troubles once you deploy your project. Due to this wasn't an issue I'm going to close it

[2022-02-06 14:11] #228 closed

[2022-02-06 14:22] jrgarciadev opened #240 "The label placeholder in the Textarea is too high"
**Is your iteration request related to a problem?**
The label placeholder in the Textarea is too high

**Describe the solution you'd like**
The same high as the `Input` placeholder component

**Additional context**
![Screenshot 2022-02-06 at 11 20 43](https://user-images.githubusercontent.com/30373425/152685393-340e9624-8b67-4bdd-8bf6-901ee952c415.png)

[2022-02-06 14:26] #110 closed

[2022-02-06 19:28] jrgarciadev commented on #237
Hey @kr-anurag thanks for the recommendation but, why don't you use `css={{ py: 'PADDING' }}`?

[2022-02-06 19:55] #240 closed

[2022-02-06 23:13] dartilesm opened #244 ""Styled" function doesn't works with Text component"
## Description
Styles is not apply to Text component when using "styled" function, however it's works with css prop.
![image](https://user-images.githubusercontent.com/21966352/152705548-14af0abc-1e67-4a7e-a1a3-1bcca20511d6.png)

## Example
Let you an [example](https://codesandbox.io/s/dazzling-williamson-uc7mg?file=/src/App.js)
I did something wrong? 🥲

[2022-02-07 15:08] jrgarciadev commented on #244
Hi @dartilesm, thanks for reporting, I'll fix it and include it in beta 4 👍🏻

[2022-02-07 17:12] max-programming commented on #26
Any alternatives suggested, please? Whilst it's not here yet.

[2022-02-07 17:18] krystofex commented on #26
My favorite is headless UI https://headlessui.dev/react/menu

[2022-02-07 17:26] max-programming commented on #26
@krystofex So do you suggest me using headless UI and Next UI together? Is it okay?

[2022-02-07 17:41] krystofex commented on #26
You will need to use some custom styles, but otherwise I think it's alright

[2022-02-07 20:06] bruxo00 opened #246 "className not being passed to <Text> component"
**Steps to reproduce**
Try to pass a className to a <Text> component like: `<Text h1 className='test-class'>Loading...</Text>`.

**Expected behaviour**
`test-class` should be present on the element and it is not.

**Environment / Context**
- Desktop
- Windows 10 64 Bits
- Opera 83.0.4254.27

**Additional info**
**@nextui-org/react:** 1.0.2-beta.3
**react:** 17.0.2

[2022-02-07 20:12] bruxo00 opened #247 "Can't use a custom size on <Loading /> component"
**Describe the bug**
In the docs it's stated that:
`Change the size of the entire Loading with the size property, you can also set a custom size in px.`

But if I pass a number the component, like `<Loading size={64} type="points" />`, it doesn't render anymore (it renders but the sizes of the elements are 0px, so I can't see it).

**Steps to reproduce**
Create an element `<Loading size={200} type

[2022-02-08 02:12] jrgarciadev commented on #246
Hey @bruxo00 this issue was fixed and is pending to be released https://github.com/nextui-org/nextui/issues/199

[2022-02-08 02:12] #246 closed

[2022-02-08 02:34] jrgarciadev commented on #198
Hey @jesusalber1 @Carlos6a a workaround for solving this until we release the new version is by setting your own `id` to the `Input` component, something like this

[code]

Hope it helps 🙌🏻

[2022-02-08 03:02] jescalan commented on #230
Hey sorry for not testing this well enough. I have a repro locally when using css modules but haven't been able to get css modules to work on codesandbox so I don't have a repo quite yet. I have found, oddly enough, that adding manual a `style={{ ... }}` to a wrapper makes the bug go away, so working around it for now with this. I'll get a proper repro going as soon as I can 😁

[2022-02-08 03:17] max-programming commented on #26
Alright thanks @krystofex ! I'll give it a shot

[2022-02-08 07:25] sudongyuer opened #252 "Some words have been hidden"
**Describe the bug**
 Some words have been hidden

**Expected behaviour**
Normal text display

**Screenshots**
![image](https://user-images.githubusercontent.com/76603360/152938168-80ca7aa7-ea49-49ca-85b5-0837c441f0d5.png)

**Environment / Context**
- Desktop or Mobile? Desktop
- Browser and version [chrome 97.0.4692.99（norml） (arm64)]
-
**Additional info**
Add any other context about the problem

[2022-02-08 07:49] Siumauricio opened #254 "Pagination on refresh loses styles"
**Describe the bug**
The pagination component  when refreshing the browser makes component  colors like  default browser ,and display warning in console

**Steps to reproduce**
Easy just copy pagination and put wherever and refresh the page and u will see the component style loses colors and styles.

https://codesandbox.io/s/practical-dewdney-rrpkf?file=/pages/index.js

**Expected behaviour**
Not

[2022-02-08 11:28] Keyruu commented on #189
Hello, this is a much needed fix. TailwindCSS doesn't work with react-scripts@4 and I want use NextUI with Tailwind. I currently can't.

[2022-02-08 12:42] jrgarciadev commented on #254
Hey @Siumauricio I noticed you are using Next.js so in order to guarantee the same classNames both on the server and on the client you have to `flush` the NextUI styles on the `_document.jsx/tsx` as the documentation indicates -> https://nextui.org/docs/guide/nextui-plus-nextjs

i.e

[code]

Here's your example fixed https://codesandbox.io/s/crazy-sea-1doyp?file=/pages/index.js

Hope it helps you

[2022-02-08 12:42] #254 closed

[2022-02-08 18:25] jrgarciadev commented on #230
No worries @jescalan 🙌🏻 , due to this is not a NextUI issue I'm going to close this issue, let me know if you need some help, here's our discord -> https://discord.gg/9b6yyZKmH4

[2022-02-08 18:27] jrgarciadev commented on #247
Hey @bruxo00 thank you for reporting it,  it's a documentation mistake, we will update it as soon as possible since is not possible to pass a custom `integer` size to the loaders we remove that feature to avoid multiples issues, here a workaround for doing that -> https://codesandbox.io/s/great-montalcini-cyj39?file=/src/App.js

[2022-02-08 18:30] #148 closed

[2022-02-08 23:05] Siumauricio commented on #254
I tried and yeah seems to work, but for many reasons that I don't know, buttons inside a modal lose the styles, like the colors, etc.

Using this way makes the buttons inside a modal loses the styles

[code]

But I found a way to solve it which is just using <Head /> like that

[code]

[2022-02-08 23:10] hmbrg opened #256 "Input background color not changeable with theming"
**Describe the bug**
Right now, we can't use a custom color provided by a theme to change the background color of inputs. This is because the input code uses baked in values from the next-ui theme instead of relying on `$varname` to access user provided themeing tokens.

**Steps to reproduce**
1. Set custom primary color inside a custom theme: `primary: '$grass10',`
2. Background color of input do

[2022-02-09 01:08] bruxo00 commented on #247
Thanks, will implement it based on your example 👍

[2022-02-09 01:23] bruxo00 opened #258 "Modal blur backdrop not working in Firefox"
**Steps to reproduce**
1. Open Firefox
2. Go to modaldocumentation
3. Open modal with blured background
4. [No blur](https://i.imgur.com/Rj6owek.png)

**Expected behaviour**
A modal with a blured background. Works fine in Opera at least.

**Screenshots**
[No blur](https://i.imgur.com/Rj6owek.png)

**Environment / Context**
- Desktop
- Windows 10 64 Bits
- Firefox 97.0 (64-bit)

**Additional info**

[2022-02-09 03:34] jrgarciadev commented on #247
Hey @bruxo00 we have already fixed the `Loading` docs https://nextui.org/docs/components/loading#sizes, I'm going to close this issue 👍🏻

[2022-02-09 03:34] #247 closed

[2022-02-09 03:37] jrgarciadev commented on #258
Hey @bruxo00 the `Modal` component `blur` is based on the `backdrop-filter` css property which unfortunately is not supported by Firefox until now

Offical docs:
https://developer.mozilla.org/en-US/docs/Web/CSS/backdrop-filter#browser_compatibility

[2022-02-09 03:37] #258 closed

[2022-02-09 03:40] jrgarciadev commented on #256
Hey @hmbrg thank you for reporting this, we have fixed this here -> https://github.com/nextui-org/nextui/pull/236/files#diff-fb92e92269a2ac69303e310951f31abd85960aba5ccda2a3d31d53d0d1f1eea1

The release is pending

[2022-02-09 03:40] #252 closed

[2022-02-09 15:00] jrgarciadev commented on #244
Hey @dartilesm I've tried to solve this but unfortunately, the `css` prop has priority over the `styled` function is the way Stitches works so like we use the `css` prop internally for these props `color` `fontSize` and `textTransform` they are not overridable, a workaround is to use the `StyledText` included in NextUI as I did here -> https://codesandbox.io/s/pedantic-ardinghelli-uru6h

Hope it h

[2022-02-09 15:00] #244 closed

[2022-02-10 01:53] jrgarciadev commented on #212
Hey @erenkulaksiz I've noticed some issues with your implementation, try to avoid using hardcoded `width/height` when you use the `Grid` component on the other hand you are using an `sm` button in the first `Grid` which render a smaller `Button`, I recommend you to avoid is using inline styles since they are not supported by the `SSR`, here's a fixed implementation https://codesandbox.io/s/nextui-

[2022-02-10 01:53] #212 closed

[2022-02-10 03:18] jrgarciadev commented on #256
The new version was released, please try this in case it has not been resolved we reopen the issue, thank you very much! https://github.com/nextui-org/nextui/releases/tag/v1.0.2-beta.4

[2022-02-10 03:18] #256 closed

[2022-02-10 03:19] jrgarciadev commented on #233
The new version was released, please try this in case it has not been resolved we reopen the issue, thank you very much! https://github.com/nextui-org/nextui/releases/tag/v1.0.2-beta.4

[2022-02-10 03:20] jrgarciadev commented on #229
Hey @jescalan 🙌🏼 , The new version was released, please try this in case it has not been resolved we reopen the issue, thank you very much! https://github.com/nextui-org/nextui/releases/tag/v1.0.2-beta.4

[2022-02-10 03:20] #229 closed

[2022-02-10 03:20] #216 closed

[2022-02-10 03:21] jrgarciadev commented on #198
Hey @jesusalber1 @Carlos6a 🙌🏼 ,The new version was released, please try this in case it has not been resolved we reopen the issue, thank you very much! https://github.com/nextui-org/nextui/releases/tag/v1.0.2-beta.4

[2022-02-10 06:49] erenkulaksiz commented on #212
Its all fixed now!
But i dont think having minWidth fixed on button sizes like 'md' 'xl' is really good thing. Maybe user is going to put only icon inside 'lg' sized button but you give something like 90 pixel minimum width which is unneccesary, user needs to edit css manually in this case.

My final code if anyone interested:
[code]

[2022-02-10 08:06] gillescoolen opened #267 "Collapse button server-client rendering mismatch"
**Describe the bug**
The chevron used in the collapse component causes a server-client rendering mismatch using NextJS.

**Steps to reproduce**
1. Clone [this example repository](https://github.com/gillescoolen/nextui-mismatch-example).
2. Run `npm ci`.
3. Run `npm run dev`.
4. Visit [your localhost](http://localhost:3000).

**Expected behaviour**
The example renders without errors.

**Screenshots

[2022-02-10 16:17] jescalan commented on #229
@jrgarciadev You all are amazing! Will definitely try it out soon 🎉

[2022-02-10 22:04] OnlyCS opened #270 "Make grid take up vertical space"
**Describe the solution you'd like**
At the moment, how grids are done is that they take up only horizontal space. Would like to see them be able to take up vertical space
see screenshot
![s](https://user-images.githubusercontent.com/61358474/153504398-cad0db20-5553-4bf2-bd65-97345ef6b1d6.png)

some more info:

how this could work:
you could init a grid with predetermined values

[code]

if you wa

[2022-02-10 22:16] TheAlphaReturns opened #271 "<Link> cannot change color to 'text'"
**Describe the bug**
Typescript. If i try to change the value of color to 'text' like: `<Link src='...' color='text' underline>` it doesn't work. VSCode calls an error and opening it in the browser returns the blue color

**Steps to reproduce**
1. Make a next app with ts
2. Make a link
3. Try changing color to text
4. It doesn't work

**Expected behaviour**
Make the link color change to the defaul

[2022-02-11 02:54] jescalan commented on #229
This is working great as long as the `auto` prop is on the button, but without that prop the padding still is weird. Solves the problem for me though, thank you again!

[2022-02-11 12:21] Keyruu opened #274 "Default button type submit and not button"
**Describe the bug**
The docs stated that the Buttons default native type should be `button`, but it's actually `submit`. The doc was updated, but the default should still be `button`.
https://nextui.org/docs/components/button#button-props

[2022-02-12 02:38] jrgarciadev commented on #271
Hey @TheAlphaReturns thank you for reporting this but I don't see any problem with the `text` colour type of the `Link` component, here's an example -> https://codesandbox.io/s/nextui-link-ts-tquse?file=/src/App.tsx

What version of NextUI are you using?

[2022-02-12 02:38] jrgarciadev commented on #274
Thanks for reporting it @Keyruu 🙌🏻

[2022-02-12 13:29] TokiyaHorikawa commented on #274
Is it ok if I do the fix for this issue?

[2022-02-12 14:27] jrgarciadev commented on #274
For sure @TokiyaHorikawa

[2022-02-13 19:27] asleepingpanda commented on #174
I have a card based design that I would prefer to not have a focus state on at all. Is there any way to remove it, currently?

[2022-02-14 11:09] gillescoolen opened #279 "Disable keyboard shortcuts for Collapse component"
**Is your iteration request related to a problem?**
It would be nice to be able to disable the closing and opening of the collapse shortcut when pressing space or enter.

**Describe the solution you'd like**
Either edit the keycodes, or disable the behaviour entirely.

**Additional context**
Inside the collapse component, the following code edits this behavior. I will make a PR that allows the `[K

[2022-02-14 11:48] gillescoolen commented on #279
See PR #280

[2022-02-14 11:58] klimsemenov86 commented on #162
@DaniAcu @jrgarciadev thank you! It works 👍

[2022-02-14 14:14] aliHunter-0 opened #281 "UI bug in the home page with safari browser"
**Describe the bug**
When I open the nextui.org website with Safari, there is a horizontal scroll on the home page that goes just to the right, and sometimes it gets stuck there so I need to refresh the page to fix it

**Screenshots**
<img width="1435" alt="Nextui" src="https://user-images.githubusercontent.com/80057449/153879451-303af0e6-aeed-4d8b-bad6-36d52a7f882a.png">

**Environment / Context*

[2022-02-15 09:42] Queen-esther01 opened #283 "New Component: Toasts"
Toasts are a great way of communicating with users after performing an action.
I was wondering if we could add this feature to NextUI. I believe it is a must-have
for Libraries such as this.

Something like the image below: e.g custom toasts, toasts with icon, with image, themed toasts etc.

**Additional context**
![screenshot](https://user-images.githubusercontent.com/35095984/154034922-ac17647c-

[2022-02-15 09:48] Queen-esther01 opened #284 "New Component: Alert"
**Is your component proposal related to a problem? Please describe.**

**Describe the solution you'd like**
I would like to suggest the alert component. Similar to toast, however
it can be used to share larger chunks of information in page.

**Describe alternatives you've considered**
I have considered using the modals as an alternative solution to a page alert
but it doesn't quite seem to do the

[2022-02-15 12:06] jrgarciadev commented on #281
Hey @aliHunter-0 thanks for reporting it 🙌🏻 , we will work on it as soon as possible

[2022-02-15 12:10] jrgarciadev opened #285 "Image & Avatar Component"
### Discussed in https://github.com/nextui-org/nextui/discussions/269

<div type='discussions-op-text'>

<sup>Originally posted by **devgossips** February 10, 2022</sup>
1. While researching I found a awkward result in Avatar component:
   `<Avatar src="" css={{ size: "$20" }} />`
 ![image](https://user-images.githubusercontent.com/70798495/153444523-ef7c7b63-b785-4fa2-8cc5-d26ccbf81969.png)
Pleas

[2022-02-15 18:28] wiksien commented on #285
I will fix that.

[2022-02-15 18:29] jrgarciadev commented on #285
Great! @wiksien , I'm going to assign it to you

[2022-02-15 19:55] wiksien commented on #285
@jrgarciadev While executing command "yarn build:nextui" I had an error pop up: "Error: ENOENT: no such file or directory, scandir 'C:\Users\wiste\Desktop\Github Stuff\nextui\packages\react\lib\esm'". I don't know how to proceed.

[2022-02-15 19:58] jrgarciadev commented on #285
Hey @wiksien, It looks like Windows needs the folder `esm` to be created before saving the files there 🤔 , you could try creating it and then run `yarn build:nextui`

[2022-02-15 23:40] wiksien commented on #285
@jrgarciadev It is weird, because when I do that it just assumes this folder doesn't exist and creates a new folder structure completely without it. Here is the whole message my CLI gave.

`wiste@DESKTOP-II22GL2 MINGW64 ~/Desktop/Github Stuff/nextui (replaceplaceholder)
$ yarn build:nextui
yarn run v1.22.17
$ turbo run build --scope=@nextui-org/react --no-deps
• Packages in scope: @nextui-org/reac

[2022-02-15 23:42] wiksien commented on #285
@jrgarciadev It is weird, because when I do that it just assumes this folder doesn't exist and creates a new folder structure completely without it. Here is the whole message my CLI gave.

![obraz](https://user-images.githubusercontent.com/88692323/154168559-7a7eb8bb-79fe-4431-98b5-786ce286c837.png)

[2022-02-16 10:30] minminxia opened #287 "Components/Card"
**Describe the bug**
Card compontent add onClick Event, click invalid

like as:
<Card
        clickable
        hoverable
        css={{ mw: "400px" }}
        onClick={handleGoPage("/learns/learn-router")}

        <p>A basic card.</p>
 </Card>

  const handleGoPage = (path) => {
    console.log(path);
    router.push(path)
  };

**Steps to reproduce**
1. Go to '...'
2. Click on '....'
3. Scroll

[2022-02-16 11:48] #287 closed

[2022-02-16 12:48] jrgarciadev commented on #285
Hey @wiksien if you run `yarn sb` does it work?

[2022-02-16 19:17] jrgarciadev commented on #189
Hey guys, we are doing our best to fix this as soon as possible, thanks for the patience 🙏🏻

[2022-02-16 20:35] wiksien commented on #285
@jrgarciadev Nope, also doesn't work. It errors out saying that various files don't exist and that `Field 'browser' doesn't contain a valid alias configuration`

[2022-02-17 01:30] mgueyraud commented on #281
Hi!!!, I can take this, it seems that the CssBaseline, needs to apply the styles of overflow:hidden to both html and body

[2022-02-17 06:42] algofishexe commented on #285
<img width="207" alt="Screen Shot 2022-02-17 at 1 41 12 AM" src="https://user-images.githubusercontent.com/96948441/154419902-aa647100-3526-45a4-ab28-c5a93550de7b.png">

Confirming a replica of this bug with source:

[code]

[2022-02-17 14:56] hardikhere commented on #283
@jrgarciadev If we have designs for our toast, may I work on that?

[2022-02-17 19:56] TianenPang opened #288 "Modal with animated got flashing abnormally when visible"
**Describe the bug**
When Modal animated is true (by default), modal will blink when it appears.

**Steps to reproduce**
CodeSandbox: [https://codesandbox.io/s/next-ui-modal-1r2w18](https://codesandbox.io/s/next-ui-modal-1r2w18?file=/pages/index.js)

It doesn't always flashing when popup, but usually appears in the first few popup animations after the page has been loaded.

If not see the flashing

[2022-02-18 07:32] TianenPang commented on #285
Hey @wiksien, I believe it's because there are a space in the path `Github Stuff`, try to change a directory without spaces in the path, and then run `yarn build:nextui` should see output like this. ( just built it today on Windows

![build-nextui](https://user-images.githubusercontent.com/32772271/154637063-a4034a36-34cb-4cb3-ab46-a2b363db9067.png)

[2022-02-18 09:53] imjorgemor opened #289 "The copy button of the Auto-Layout Columns section live editor does not copy."
**Describe the bug**
The copy button of the Auto-Layout Columns section live editor does not copy.

**Steps to reproduce**
1. Go to 'https://nextui.org/docs/layout/container'
2. Click on ''
3. Scroll down to 'to section Auto-Layout Columns'
4. See error: onClick copy button does not copy the text of the demo.

**Expected behaviour**
The copy button shall copy the text inside de Live demo

**Screen

[2022-02-18 12:51] devgossips commented on #285
I also agree with @TianenPang

[2022-02-18 13:20] jrgarciadev commented on #289
Hey @imjorgemor thank you for reporting it 🙌🏻

[2022-02-18 19:00] WilferCiro opened #290 "New Component: Badge"
I would like to suggest the Badge component.

This component is very important for ecommerce, allowing to add labels to products and the quantity of items in the shopping cart icon, In addition, as a graphic element, it can be important in other types of pages.

**Additional context**

Examples from antd

![image](https://user-images.githubusercontent.com/14842306/154745286-3aefb2f9-5741-4955-ad68

[2022-02-18 22:19] hmbrg opened #291 "Token autocompletion not working on utils [CodeSandbox]"
**Describe the bug**
Autocomplete does not seem to work for utils right now. Inside of `css()` the utils are not even defined as a prop, they are only there if you create a media query with `css({"bp1": {"pt": ...}})`.

**Steps to reproduce**
1. Use the `css()` or `styled()` function
2. Don't get any autocompletion for utils

I've created a CodeSandbox here: https://codesandbox.io/s/distracted-rai

[2022-02-19 02:05] jrgarciadev commented on #283
Hey @hardikhere I appreciate you want to do this, however, new components are being built just for the core team since we have to make several decisions about the `API` the `Design` and so on,  would you like to work on another issue? 🙏🏻

[2022-02-19 06:27] hardikhere commented on #283
Sure, I actually liked the library, can you assign me to some issue I would love to contribute.

[2022-02-19 14:14] OrhanTozan opened #293 "Following Getting started documentation gives NextJS warning"
When adding {CssBaseline.flush()} in the head of of _document.tsx, like the docs tell you, NextJS gives the following warning:

[2022-02-21 07:00] tminhduc2811 opened #294 "New Component: Date/Time picker"
Hi, I think this is a great project. Having a Date/Time picker component would be really helpful

Something like this https://mui.com/components/pickers/

[2022-02-21 10:40] fejrr opened #295 "Components/Tooltip"
#custom-content
<DeleteUser/>
and
<UserTwitterCard/>
not included in example

[2022-02-21 12:16] jrgarciadev commented on #295
Hey @fejrr those components are in the `docs` https://github.com/nextui-org/nextui/tree/main/apps/docs/src/components/templates, are not included in the `NextUI` package, we hope to clear that up when we implement Sandpack 🚀

[2022-02-21 18:55] #289 closed

[2022-02-23 16:48] flcarre opened #298 "Huge type error on build"
**Describe the bug**
Got a huge error with Typescript on build. I tried to add a stitches config but i can't fix this issues. I'm using Nextui on an open source projet, here is my template: https://github.com/flcarre/jhipster-lite-react-login-template

I tried to deploy on Vercel and got the same issue

[code]

**Steps to reproduce**
npm run build

**Expected behaviour**
Build

**Environment / Con

[2022-02-24 02:22] Dhananjay-JSR commented on #298
this seems to be some issue with Stiches core , Current Workaround I found is that set

in your typescript config file to build your site without any error

[2022-02-24 02:36] Dhananjay-JSR commented on #298
you can set typescript compiler option `"skipLibCheck": true` to ignore the warning

[2022-02-24 05:54] samfromaway opened #299 "Col component TS error with align prop"
**Describe the bug**
When using the Col component, I get a typescript error when using the align prop even though it works.

**Steps to reproduce**
1. Add a new project
2. Import Col
3. Add align prop e.g. `<Col align="center" />`
4. See error

**Expected behaviour**
Have no TS error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment / Context**
1.0.2-beta

[2022-02-24 09:20] flcarre commented on #298
ok thank you !

[2022-02-24 11:44] #298 closed

[2022-02-24 13:23] Spice-Z opened #301 "Cannot set borderRadius:0 to Card.Image"
**Describe the bug**
I cannot set `borderRadius: 0` to Card.Image with css props.

When component is like this,
[code]

Real DOM will be like this.

[code]

It seems there is another  div between Card.Body and Card.Image.
That `div`  has  `border-top-left-radius: 14px; border-top-right-radius: 14px;`, and I cannot override it.

**Steps to reproduce**
1. Set `css={{ borderRadius: 0 }}` on Card.Imag

[2022-02-24 13:38] #285 closed

[2022-02-24 15:31] flcarre opened #303 "React is not defined in production"
Describe the bug
Got a strange error on build version "React is not defined". I'm using Nextui on an open source projet, here is my template: https://github.com/flcarre/jhipster-lite-react-login-template

I tried to deploy on Vercel and got the same issue

![image](https://user-images.githubusercontent.com/43339017/155551281-1c0aa056-da1b-43e3-bfc8-b027175a7b90.png)

Steps to reproduce
npm run bui

[2022-02-24 15:50] Dhananjay-JSR commented on #299
strange since there is no such prop named `align` for column component , I don't think it should work

[2022-02-24 16:21] jrgarciadev commented on #299
Hey @samfromaway just as @Dhananjay-JSR there’s not a prop called ‘align’ for ‘Col’ component, here’s the API https://nextui.org/docs/layout/container#col-props

[2022-02-24 16:21] #299 closed

[2022-02-24 16:35] jeelmakani opened #304 "Hex color strings allowed as direct props to link component"
**Is your iteration request related to a problem?**
I need to be able to pass hex color strings as a prop to [link](https://nextui.org/docs/components/link) component

**Describe the solution you'd like**
be able to pass hex color strings as a prop to [link](https://nextui.org/docs/components/link) component

**Additional context**
Nothing

[2022-02-24 17:33] si-ui opened #305 "Add an extra option for the radio buttons to have a more visual radio style, like the example seen here: https://mobile.twitter.com/steveschoger/status/1024720091546562560/photo/1"
**Is your iteration request related to a problem?**
Would be great to have an extra option for the radio buttons - a more visual way to show them

**Describe the solution you'd like**
Would be nice to have a more visual radio button style, with control over the border colour / weight, hover style / weight etc

**Additional context**
See example here: https://mobile.twitter.com/steveschoger/status/

[2022-02-24 17:45] Dhananjay-JSR commented on #304
here's the alternative way to pass hex color string into your link component

`<Link color href="#" css={{color: "#F96123"}}>THIS</Link>`

[2022-02-25 05:33] samfromaway commented on #299
Ok interesting that it still centers the elements in Col.

[2022-02-26 00:07] salvowsky commented on #90
And maybe add some transition and different direction. Like Semantic UI do. I think it will be great with NEXTUI design😄 I'm excited to see all of the waitlist components release😁
[Sidebar - Semantic UI React](https://react.semantic-ui.com/modules/sidebar/#examples-transitions)

[2022-02-27 12:13] chrisly-bear commented on #303
I'm having the same issue (also using Vite). What seems to help is removing the `NextUIProvider` in the root of my application (basically skipping the [setup step](https://nextui.org/docs/guide/getting-started#setup) from the tutorial).

[2022-02-28 04:55] j0nl1 opened #308 "changeTheme add a semicolons when invoke"
**Describe the bug**
When there is no more property than the color-scheme it adds infinity semicolons every time you call changeTheme function.

**Screenshots**

https://user-images.githubusercontent.com/40375118/155926242-b0f52fd4-ad31-4492-b0f5-e5fefa067278.mov

[2022-02-28 06:31] flcarre commented on #303
Ok thank's, strange issue ^^

[2022-02-28 13:15] jrgarciadev commented on #303
Hey guys, could you please compare your project structure/code to this example? -> https://github.com/nextui-org/nextui/tree/main/examples/vite-react-typescript

[2022-02-28 13:28] #308 closed

[2022-02-28 13:54] jrgarciadev commented on #305
Hey @si-ui thanks for your recommendation, however, I'll convert this into a discussion since it required to create a new component joining two components `Card` and `Checkbox` which is something we have to think about

[2022-02-28 13:59] jrgarciadev commented on #304
Hey @jeelmakani the idea behind NextUI and Stitches is to have a system design with predefined colors like `primary`, `secondary`, `link` etc, `NextUI` provides you with a way to modify those colors (https://nextui.org/docs/theme/customize-theme), that's why is not allowed to pass color strings instead you can use the `css` property as @Dhananjay-JSR mentioned for setting a custom color that you h

[2022-02-28 13:59] #304 closed

[2022-02-28 14:03] #290 closed, assigned to nobody

[2022-02-28 14:04] #90 closed, assigned to nobody

[2022-02-28 14:05] #88 closed, assigned to nobody

[2022-02-28 14:44] jrgarciadev commented on #154
Hey guys we have tried this again using the `"@nextui-org/react": "1.0.2-beta.4",` of `NextUI` and is no longer happening to me, could you please try using the same version?

[2022-02-28 21:24] jklukan opened #319 "`disabled` prop on a `Button` within a `Button.Group` does not show disabled visual state when using variants or colors"
**Describe the bug**
When using a `Button` within a `Button.Group`, if the `Button` has a `disabled` prop, it will not show as visually-disabled, though it is still disabled in function.

**Steps to reproduce**
Reproduced using live editor:
[code]

**Expected behaviour**
Buttons that are `disabled` will visually represent that state.

**Screenshots**
Using the code provided, the first button in ea

[2022-03-01 06:09] flcarre commented on #303
Look similar, without the provider it work well

[2022-03-01 13:30] jrgarciadev commented on #303
Hey @flcarre it seems to be a Vite `@vitejs/plugin-react` issue https://github.com/vitejs/vite/issues/5608, some users managed to solved them

[2022-03-01 13:30] #303 closed

[2022-03-01 21:46] sereneinserenade opened #320 "button with color="gradient" should maintain it's width even when `ghost` property is given."
**Describe the bug**

When `color="gradient"` is given with `ghost`, the button doesn't stick to the width it should

**Steps to reproduce**
__Without gradient__
<p dir="auto" align="center">
<img width="405" alt="image" src="https://user-images.githubusercontent.com/45892659/156254128-58702e6f-1ed4-4b1c-a871-d115cccebb83.png">
<span> This leads to -----> </span>
<img width="215" alt="image" src="

[2022-03-03 02:18] CNLHC opened #321 "[BUG] - The style of a button will be broken when one uses `color=gradient`, `bordered` and `icon` simultaneously."
### Describe the bug

The style of a button will be broken when one uses `color=gradient`, `bordered` and `icon` simultaneously.

[code]
will generate
<img width="130" alt="image" src="https://user-images.githubusercontent.com/21005146/156483102-0cbb22e3-bdeb-4f43-aa85-803ec3634868.png">

but

[code]
will generate

<img width="116" alt="image" src="https://user-images.githubusercontent.com/2100514

[2022-03-03 04:27] TianenPang opened #322 "[BUG] - Inverted text color in the tooltip is overwritten by the content color"
### Describe the bug

Text invert's color in the tooltip component is overwritten by the content color

### Your Example Website or App

https://codesandbox.io/s/next-ui-tooltip-invert-yrb0kv

### Steps to Reproduce the Bug or Issue

See the sandbox example above

### Expected behavior

Correct color for reversing text

### Screenshots or Videos

Invert dark
![light](https://user-images.githubuser

[2022-03-03 07:28] CNLHC opened #324 "[BUG] - Pagination is not properly controlled"
### Describe the bug

It seems that the Pagination component is not properly controlled.  Even if I set the page props manually, it will use the inner state to render the active page.

### Your Example Website or App

https://codesandbox.io/embed/practical-knuth-5bty57?fontsize=14&hidenavigation=1&theme=dark

### Steps to Reproduce the Bug or Issue

1. create a `Pagination` instance
2. create a `p

[2022-03-03 13:26] #322 closed

[2022-03-03 14:44] #324 closed

[2022-03-03 19:15] sereneinserenade commented on #321
seems related to #320

[2022-03-04 06:40] Gomah commented on #198
Hey there 👋🏻 ,

Thanks @jrgarciadev for this amazing UI lib! We ran into this issue today and it's still showing an error stating the Prop id isn't matching:

```Warning: Prop `id` did not match. Server: "react-aria6856402524-19" Client: "react-aria4308185822-2"```

Adding the `id` prop didn't help, it seems to be conflicting with the `label` prop for some reason?

This works:
[code]

This doesn't

[2022-03-04 12:58] jrgarciadev commented on #198
Hey @Gomah thank you for using it 🙌🏻

Did you include the `NextUIProvider` in your main file? https://nextui.org/docs/guide/getting-started#next.js

[2022-03-04 13:06] Jurredr opened #326 "[BUG] - SSRProvider to ensure consistent ids?"
### Describe the bug

Hi there,

I'm constantly getting the following message in my server's console (I am using NextJS):

[code]

I already wrapped my root app component in a `<SSRProvider>` from react-aria, but still getting the warnings, so not sure what I should do next.

### Operating System Version

macOS

### Browser

Chrome

[2022-03-04 14:16] Gomah commented on #198
Yes, we followed the installation guide carefully, actually if you run the example from the nextui repo: https://github.com/nextui-org/nextui/tree/main/examples/create-next-app

Both `label` & `labelPlaceholder` props are prompting errors on the mismatch node: https://github.com/nextui-org/nextui/blob/main/examples/create-next-app/pages/index.js#L57

[2022-03-04 14:59] Jurredr commented on #326
Aria-label can easily be fixed by providing the `aria-label` prop, so that's no longer an issue. Still can't manage to fix the server-side rendering related errors though.

[2022-03-04 22:57] TianenPang commented on #198
Hi, @Gomah I got the same issue as you.

I think the problem is with the id of the [label](https://github.com/nextui-org/nextui/blob/5880b19e8a8fa16354d5244c5dc58d3ed9b2055d/packages/react/src/input/input.tsx#L192), we can pass the input id through the prop, but when using the label, the id is automatically generated by `useLabel`.

With some research, I found out that [`SSRProvider`](https://gith

[2022-03-09 13:45] B1anker commented on #76
Is there any progress?

[2022-03-09 13:47] jrgarciadev commented on #76
For sure @B1anker https://github.com/nextui-org/nextui/commits/feat/table

[2022-03-09 22:36] hmbrg commented on #291
I was able to fix this by manually installing `@stitches/react`. Is this a known behavior?

[2022-03-10 02:43] wookaoer opened #333 "[BUG] - Input.Password has no onChange Event"
### Describe the bug

![image](https://user-images.githubusercontent.com/37268350/157577806-3af43bdc-e5bc-4530-934c-3c2d92a6a61a.png)

when i enter the password value，the `onChange` event Will not be called

### Your Example Website or App

_No response_

### Steps to Reproduce the Bug or Issue

1. enter the password value
2. the `onChange` event Will not be called

### Expected behavior

``

###

[2022-03-10 05:24] KrychuTM commented on #333
In your screenshot it says "onChang" missing the "e".

[2022-03-10 09:45] wookaoer commented on #333
![image](https://user-images.githubusercontent.com/37268350/157634903-e8ef1d55-8a72-4ebb-be07-bdf9e614c089.png)

In fact，there has no `onChange` props in `Input.Password` and the `handlePasswordChange` function  to be not called

[2022-03-10 10:41] hmbrg commented on #291
Are there any updates on this? I would love to contribute a fix for this, but I've been looking into this issue and I have no idea what causes it. Do you have any clues on what might be the problem here?

The error even states that there is no utility registered. Installing vanilla stitches in the repo works just fine though.

<img width="1078" alt="Screenshot 2022-03-10 at 03 08 58" src="https://

[2022-03-10 13:06] jrgarciadev commented on #333
Hey @wookaoer, as @KrychuTM said, In your screenshot, it says "onChang" missing the "e", try out as follow:

[code]

[2022-03-10 13:06] #333 closed

[2022-03-10 13:17] hmbrg commented on #291
Thanks for your response! Unfortunately, that doesn't fix it, and the codesandbox I provided in the issue doesn't use an affected typescript version.

I've created a new codesandbox showing the issue next to the working "vanilla" stitches config: https://codesandbox.io/s/nextui-type-issue-5x128y?file=/pages/index.js

Looking at the type of `px` shows that all type information is missing. Also all

[2022-03-10 13:36] jrgarciadev commented on #291
Hey @hmbrg the commented solution aims to "VSCode", however, I was checking the CodeSandbox and is not a "Typescript" template, I've created a new Codesanbox base on the `Typescript` template and it works well,

![Screenshot 2022-03-10 at 10 32 07](https://user-images.githubusercontent.com/30373425/157672633-e6f43a8b-59b3-4e88-a6f3-2428063d716c.png)

https://codesandbox.io/s/stitches-token-nextui-

[2022-03-10 13:39] hmbrg commented on #291
I'm sorry to be such a bother, but even the example you shared doesn't seem to be working correctly. The type of `px` is still not set correctly, and I'm not getting any autocompletion on the token values that `px` accepts.

<img width="418" alt="Screenshot 2022-03-10 at 14 38 20" src="https://user-images.githubusercontent.com/7304269/157673193-1347eb12-48cd-4774-aaa5-c9e8e4a9f93e.png">

[2022-03-10 13:45] hmbrg commented on #291
In fact, I'm not getting any token completion on any CSS property, not only utils.

[2022-03-11 06:08] wookaoer commented on #333
got it , sry

[2022-03-13 07:25] cliffordfajardo opened #335 "[Feature] - Allow option to render the a selected radio button with a checkmark inside"
### Is your feature request related to a problem? Please describe.

Request is not related to a bug

### Describe the solution you'd like

**I would like the option to pass a prop to `<Radio>` component that would allow its selected state to show a checkbox .**
In the image below, I am showing the existing behavior and visualization of what a selected `<Radio>` and `<Checkbox>` input look like.

[2022-03-13 07:27] cliffordfajardo commented on #335
What do you think @jrgarciadev ?

[2022-03-13 10:54] fcannizzaro opened #336 "Prevent Collapse to open/close using space/enter key ?"
Hi I'm using a Collapse.Group with many Collapse components that contain a form inside, but every space/enter key is catched from the Collapse component and not from the input fields. There is no way right now to disable this behaviour ?

[2022-03-13 11:37] Dhananjay-JSR commented on #336
I guess there exist a Prop named "preventDefault" to disabled default Behavior with ENTER and SPACE Integration have you checked the Documentation page about it ?

[2022-03-13 11:44] fcannizzaro commented on #336
yep I tested both true / false but nothing changes

[2022-03-13 21:34] jrgarciadev commented on #336
Hey @fcannizzaro thanks for reporting it, we will do our best to include the fix in the next release 🙌🏼

[2022-03-15 04:42] K-Sato1995 opened #337 "[BUG] - <Input /> component's value type"
### Describe the bug

Thanks for this library!

I was using it with TypeScript and got the error below.

<img width="228" alt="image" src="https://user-images.githubusercontent.com/32632542/158304887-37a30231-7d7d-43b3-8ec4-3b582e73e03f.png">

This is clearly because the `value` of the Input component only takes `undefined | string`.
Shouldn't it be like the value type of `InputHTMLAttributes`??

[2022-03-19 23:19] K-Sato1995 commented on #337
Closing the issue as the pr got merged

[2022-03-19 23:19] #337 closed

[2022-03-20 14:30] cliffordfajardo opened #347 "[QUESTION] - Overriding default Input & Button style"
### Describe the bug

Passing a `style` object to `<Input>` to remove the rounded border does not work.
As a user sometimes, would like a rectangular input box

[code]
Allow user to to remove border-radius from inputs and buttons i

### Steps to Reproduce the Bug or Issue

1. Pass `border-radius: initial !important` to the input component & see that it does not remove the border radius

![CleanSho

[2022-03-20 14:32] cliffordfajardo commented on #347
I think we we might need to think about an overrides API.
I've seen this used in other libraries like:
-  materialUI: https://mui.com/customization/how-to-customize/
- Uber Base Web: https://baseweb.design/guides/understanding-overrides#understanding-overrides

[2022-03-20 15:50] Dhananjay-JSR commented on #347
Hello @cliffordfajardo , NextUI Does Provide different ways to Override Default Styles of Component and ways to create your own component , More Details about which can be found on Official Documentation [Page](https://nextui.org/docs/theme/override-styles)

And coming back to your point to Remove Rounded Corners from Input and Button , the code should be

`<Button css={{borderRadius: "0"}}>Defaul

[2022-03-20 16:02] cliffordfajardo commented on #347
@Dhananjay-JSR - ahh thank you!
When might might it be advisable to use`style={{...}}` vs `css={{}}` and vice-versa?
It seems like `css` prop integrates a lot more nicely with the NextUI internals as opposed to `style`

[2022-03-20 19:45] cliffordfajardo opened #349 "[BUG] - Cumulative layout shift (CLS) is very noticeable and effecting google lighthouse scores"
### Describe the bug

It seems like it takes some time for the NextUI to hydrate and style the page causing a very noticeable cumulative layout shift (CLS)

### Steps to Reproduce the Bug or Issue
1. Load app and on first render the cummulative layout shift is shown (see video below)

### Example Website
This website is loading on vercel
- https://www.microdiscount.website/

### Expected behavior

[2022-03-20 21:26] cliffordfajardo commented on #349
Ok - i was able to find the solution thanks to @jrgarciadev.
I wasn't generating the stylesheets on the server & doing them all clientside
That instantly fixed the CLS problem

https://user-images.githubusercontent.com/6743796/159186509-71138593-151f-4628-ae3c-a8a1fa618793.mp4

### Follow Ups
I was only able to solve this problem because I was using a SRR based solution with React and the server s

[2022-03-20 21:33] jrgarciadev commented on #349
Hey @cliffordfajardo you are welcome, excellent that you find out the solution, could you share with us the code you applied in your Remix project? (if possible), in order to help other users.

Regarding your question about solving this issue on the client-side, it's not possible due to if you are using SSR you have to `flush` / `load` the styles on the server otherwise you will have CLS, on the o

[2022-03-20 21:33] #349 closed

[2022-03-21 00:10] cliffordfajardo commented on #349
I added `{CssBaseline.flush()}`  to the head as in the docs for NextJS
- https://nextui.org/docs/guide/nextui-plus-nextjs#next.js

Example:

![CleanShot 2022-03-20 at 17 09 44@2x](https://user-images.githubusercontent.com/6743796/159191952-3d256931-09b4-4e39-ba81-47c7f807452a.png)

[2022-03-21 02:18] #347 closed

[2022-03-21 03:35] #76 closed

[2022-03-21 03:40] #336 closed

[2022-03-21 03:43] jrgarciadev commented on #281
Hey @mgueyraud sorry I didn't see your comment, do you still want to take this issue?

[2022-03-21 04:15] TIMMLOPK opened #352 "[BUG] - DOCS Code editor"
### Describe the bug

Code editor 's text don't change under the dark mode

### Your Example Website or App

_No response_

### Steps to Reproduce the Bug or Issue

Switch to dark mode

### Expected behavior

The text color may change

### Screenshots or Videos

![image](https://user-images.githubusercontent.com/72869479/159204597-efef01b7-f79d-4ff8-9e6b-8914ece8b988.png)

### Operating System Ver

[2022-03-21 04:16] jrgarciadev commented on #352
Hey @TIMMLOPK thanks for fast reporting 🙌🏻

[2022-03-21 05:45] jrgarciadev commented on #352
Hey @TIMMLOPK I've made a rollback due to I haven't found the solution yet, hope to release the new version asap it's full of new features https://github.com/nextui-org/nextui/pull/354

[2022-03-21 05:51] TIMMLOPK commented on #352
@jrgarciadev I am looking forward for the new version🥳

[2022-03-21 12:25] mgueyraud commented on #281
Hi @jrgarciadev , sure, I would be more than happy to help

[2022-03-21 20:26] jrgarciadev commented on #352
Hey @TIMMLOPK this have been fixed 👍🏻

[2022-03-21 20:26] #352 closed

[2022-03-21 20:40] #274 closed

[2022-03-21 20:40] #279 closed

[2022-03-22 14:08] hellokoda opened #357 "[Feature Request] Whole-page Examples (nextui.org/examples)"
### Is your feature request related to a problem? Please describe.

Bare with me, some people don't share my experiences and that's fine, but please take the time to read what I have to say and at least be kind if you are going to criticize my opinions.

As a sort of new developer, I would say that using a new framework is kind of a scary thing to do for new developers trying to expand their work

[2022-03-22 16:18] Sanchez9aa opened #358 "[BUG] - TypeError: Cannot read properties of undefined (reading 'Header')"
### Describe the bug

This error appear when im reloading the component where the table is, if i go throught next Link it works well, also if i go to that url without link also appear the bug

Error page:

Server Error
TypeError: Cannot read properties of undefined (reading 'Header')

This error happened while generating the page. Any console logs will be displayed in the terminal window.
Source
p

[2022-03-22 18:09] #357 closed

[2022-03-22 22:37] hellokoda commented on #357
Well I'm not just talking about certain components, i'm talking about full page examples, not just one component, sorry I didn't make that clear haha.

[2022-03-23 11:57] cliffordfajardo opened #359 "[Feature Request] Remix example & update NextUI docs for how to setup with Remix"
### Is your feature request related to a problem? Please describe.

As a user who is using [Remix](https://remix.run/) for their React app, it would be nice to see an example of NextUI used with Remix

**TODO:**
- I will create a Pull request here for docs
    - related to this issue that was resolved: https://github.com/nextui-org/nextui/issues/349#event-6271818665
- I will create an example insi

[2022-03-23 12:02] jrgarciadev commented on #359
Looking forward to it 🙌🏻

[2022-03-23 12:17] jrgarciadev commented on #335
Hey @cliffordfajardo I appreciate your suggestion but it breaks the `Radio` guidelines, on the other hand, it looks like you can replace the `Radio` component with `Checkbox` allowing users to select multiples **Categories** and **Tags** at the same time

[2022-03-23 12:17] #335 closed

[2022-03-23 18:37] WonderPanda commented on #291
I'm very interested to try out Next UI as well but I've been getting really used to the level of typescript/intellisense integration provided natively by stitches. Not having access to type safety for the utils that NextUI adds to the stitches theme feels like a big loss here.

@jrgarciadev Looking at the sandbox link you've provided, there is no intellisense for any of the utils let alone enforci

[2022-03-23 18:50] jrgarciadev commented on #291
Hey @WonderPanda I'm glad you want to use NextUI, the IntelliSense problems on CodeSandbox are caused due to is not possible to set a custom `Typescript` version at least up to now https://github.com/codesandbox/codesandbox-client/issues/942, and **Stitches** has a problem with the latest Typescript version (which is used by CodeSandbox) https://github.com/modulz/stitches/issues/947#issuecomment-1

[2022-03-23 18:54] WonderPanda commented on #291
Thanks for super quick response! I'll try things out in VsCode

[2022-03-23 18:57] jrgarciadev commented on #291
Hey @hmbrg which Typescript version are you using? did you see this comment https://github.com/modulz/stitches/issues/947#issuecomment-1061809383 ?

[2022-03-23 18:59] hmbrg commented on #291
Yes, I did. We are using the recommended version of "4.5.5".

[2022-03-23 19:04] hmbrg commented on #291
Here is a basic repo just like the CodeSandbox: https://github.com/hmbrg/nextui-autocomplete-issue/blob/main/pages/index.tsx#L7

The type of "p:" is of type `px?: {} | undefined`.

Changing the typescript version to `4.3.4` doesn't fix it, sadly.

[2022-03-23 19:07] hmbrg commented on #291
Yes, I made VSCode use the workspace version, not changing that makes the `length` error appear. After changing this the error goes away, but this issue persists.

[2022-03-23 22:06] #326 closed

[2022-03-24 11:40] lomirus opened #362 "[BUG] - TypeError when installed in pnpm workspace with typescript"
### Describe the bug

I just created a pnpm project with the workspace feature, and in the `foo` package, I created a vite app with react-ts and nextui.
Then I run `pnpm test` in the root path of this project, here which is the alias of `pnpm --filter foo run build`. But it finally gave me hundreds of lines' errors like this:
[code]

In fact, I am not sure whether it is the bug by nextui or anythi

[2022-03-24 18:24] Dhananjay-JSR commented on #362
can you set skipLib to false in your tsconfig file

[2022-03-25 01:40] jrgarciadev commented on #291
Hey @hmbrg could you please check the version you are using is set as follows:
`typescript": "4.3.2"`

Notice that it has no the `^`  symbol, otherwise could be being installed other minor typescript version

[2022-03-25 02:02] lomirus commented on #362
@Dhananjay-JSR Thanks, it does work!

[2022-03-25 02:02] #362 closed

[2022-03-25 08:11] snowplowtach opened #363 "[BUG] - Grid: Property 'ref' does not exist"
### Describe the bug

It's not possible to pass a ref to a `Grid` component

### Your Example Website or App

_No response_

### Steps to Reproduce the Bug or Issue

Try to pass a ref to a `Grid` component:

[code]

### Expected behavior

Should be able to pass a ref to `Grid`

### Screenshots or Videos

<img width="791" alt="ref-issue" src="https://user-images.githubusercontent.com/93679694/16007

[2022-03-25 12:13] jrgarciadev commented on #363
Hey @snowplowtach are you using the latest NextUI version? `v1.0.4-beta.5`?

Here's a fully functional example https://codesandbox.io/s/nextui-grid-ref-zr7i5v?file=/App.js

[2022-03-25 12:22] snowplowtach commented on #363
@jrgarciadev I updated to `1.0.4.beta.5` it solved the problem. Sorry I didn't think to update before 🙈

[2022-03-25 12:22] #363 closed

[2022-03-25 13:02] hmbrg commented on #291
Just tried that, sadly it doesn't fix it for me. I updated my example repo here: https://github.com/hmbrg/nextui-autocomplete-issue/blob/main/pages/index.tsx#L7

Have you tried my repo? Does this work for you? If yes, maybe it's something else with my local setup.

[2022-03-25 14:24] mukeshgurpude opened #364 "Unreadable show/hide icon - Input.Password component"
`Show/hide` password icon isn't visible in the [docs](https://nextui.org/docs/components/input#password)
<img width="728" alt="image" src="https://user-images.githubusercontent.com/55982424/160138957-429b206a-4b11-446f-a052-bc8b70970980.png">

Browser: **Brave Version 1.36.119 Chromium: 99.0.4844.83**
Platform: Windows

[2022-03-25 18:31] Dhananjay-JSR commented on #364
Thankyou for Pointing Out Issue 👍🏻

[2022-03-25 20:28] #364 closed

[2022-03-26 19:40] Feli02 opened #369 "CSS Error in Modals"
### Describe the bug

When I want to use CSS in Modals, vsc shows an error message. Is strange because when I see it in the browser the CSS works, despite the error vsc shows me.
Note: I append to pictures, the first one is the error I get from vsc and the other one is the browser, where you can see the padding is being applied.

### Your Example Website or App

_No response_

### Steps to Reprodu

[2022-03-26 20:10] jrgarciadev commented on #369
Hey @Feli02 thanks for reporting it, we will fix it as soon as we can 👍🏻

[2022-03-27 09:32] Deihim007 commented on #288
I'm experiencing the same issue.

[2022-03-27 15:33] #319 closed

[2022-03-27 15:33] #320 closed

[2022-03-27 15:34] #321 closed

[2022-03-27 19:46] #154 closed

[2022-03-27 20:04] jrgarciadev commented on #291
Hey @hmbrg I'm still trying to figure out why the Typescript/IntelliSense is not working on CodeSandbox, if you look at this example https://codesandbox.io/s/nextui-xxl-button-kbhbid?file=/App.js (Only JS) the autocomplete works 🤔

Regarding VsCode autocomplete it works for me here's a video (it's laggy because I tested it on Github Codespaces):
https://user-images.githubusercontent.com/30373425/1

[2022-03-27 20:09] hmbrg commented on #291
Thanks for looking into this! I've noticed, that even in the video you provided, the `$black` in `bgColor: "$black"` didn't autocomplete. The type overlay in VSCode even showed the type of `bgColor` as `{} | undefined`. I really wonder what's going on, because this defintly works with just using  Stitches on its own, as you can see in this example: https://codesandbox.io/s/nextui-type-issue-5x128y

[2022-03-29 08:29] kaichaosun commented on #189
It's still broken at the main branch with error:
[code]

[2022-03-30 23:06] Feli02 opened #378 "[BUG] - Inputs Components color, helperColor, status"
### Describe the bug

When I want to assign a customize color, helpColor or status to any input I receive a message saying it cannot receive a string. It only allows me to pass any of the default values such as primary, secondary, success, warning, error.  But I want it to have a custom color.
Anyway, I don't know if it is okay, but the problem seems to be solved when I add to color, helpColor, an

[2022-03-31 18:17] cdfornari opened #380 "[Feature Request] Particular component theming"
### Is your feature request related to a problem? Please describe.

I think it is necessary to be able to set default props, media queries and override styles for each component inside createTheme function, so you can customize each Next UI component according to the current theme

### Describe the solution you'd like

Adding a components arg to the createTheme func or a new prop to the 2nd arg ob

[2022-03-31 20:10] cdfornari opened #381 "[BUG] - Custom Styled Components do not have subcomponents"
### Describe the bug

I made a custom styled Card component using the styled function

<img width="884" alt="Screen Shot 2022-03-31 at 3 30 54 PM" src="https://user-images.githubusercontent.com/64043046/161143181-bf4557fa-e72c-4fb8-a25e-da7a3836eb40.png">

Then when trying to use subcomponents of Card component as Card.Header, I realize that it does not have the subcomponents

<img width="789" alt

[2022-03-31 20:17] jrgarciadev commented on #381
Hey @cdfornari the screenshots are not visible, could you please upload them again?

[2022-03-31 20:26] cdfornari commented on #381
Sorry I just uploaded them again

[2022-03-31 20:36] jrgarciadev commented on #381
Thanks!, here's an example with a workaround -> https://codesandbox.io/s/custom-styled-card-c8uoeq?file=/App.js

It looks like Stitches is not preserving the object attributes 🤔 ,

I'll look into it, thanks for reporting it 🙌🏻

[2022-04-01 03:13] thedevtek commented on #301
Is this solved ?
or reopened for any bug ? Please Describe

[2022-04-01 13:22] #288 closed

[2022-04-01 13:37] #369 closed

[2022-04-01 17:02] i-tengfei opened #386 "Can't override Image containerCss width & height."
Now there is no way to override Image containerCss width & height.
Is this by design on purpose?

https://github.com/nextui-org/nextui/blob/934577bba4730f1db5175205dd2f4cc622fcb786/packages/react/src/image/image.tsx#L130-L134

[2022-04-02 14:08] jrgarciadev commented on #386
Hey @i-tengfei yes it's designed on purpose to ensure the image aspect ratio if you really need to change the container `width` | `height` you can use the container class `nextui-image-container`

[2022-04-03 04:02] nalinbhardwaj commented on #189
I'm having the same issue as @kaichaosun with version `1.0.6-beta.5`

[2022-04-03 13:44] jrgarciadev commented on #267
hey @gillescoolen could you try this again? using the `v1.0.6-beta.5`

[2022-04-03 16:47] lightify97 commented on #189
I'm using `1.0.6-beta.5` with tailwind and having the same issue. However if you exclude @tailwind/base from your build it works fine.

[2022-04-03 20:31] milindsingh opened #389 "Table cell should allowed copy of data"
### Is your feature request related to a problem? Please describe.

Table row doesnt allow selecting content and copy.
It would very using if we can do so.

### Describe the solution you'd like

Render a tabld and try select content of one cell using cursor.

### Describe alternatives you've considered

Tried row selection, but it does the purpose of copying one cell content.

### Screenshots or V

[2022-04-05 17:37] #267 closed

[2022-04-05 22:43] TheAlphaReturns opened #391 "[BUG] - Links with a text-gradient broken on hover with CHROME ONLY"
### Describe the bug

I think it is a CSS thing where if you use opacity with a text-gradient link on Chrome, it will just become black. For now, can I just disable the opacity for hovering?

### Your Example Website or App

https://inertia-unblocker.vercel.app

### Steps to Reproduce the Bug or Issue

1. hover on the main site link on GOOGLE CHROME ONLY

### Expected behavior

Works like it does

[2022-04-05 22:44] TheAlphaReturns commented on #391
OBTW its a <nextUI.Link> INSIDE OF a <nextUI.Text> with linear gradient property

[2022-04-07 11:21] TIMMLOPK opened #394 "[BUG] - UI component can't work on latest version"
### Describe the bug

When I update to 1.0.7,the UI compotent can't click.I am sure the problem not appear in 1.0.3

### Your Example Website or App

https://meme-maker-sec.vercel.app/

### Steps to Reproduce the Bug or Issue

1.Go to the web
2.The button and switch can't click

### Expected behavior

The component can work

### Screenshots or Videos

_No response_

### Operating System Version

W

[2022-04-07 12:21] jrgarciadev commented on #394
Hey @TIMMLOPK it works for me 🤔

https://user-images.githubusercontent.com/30373425/162197316-1ff76787-06dc-4651-9a5a-0a95c1a70b28.mov

[2022-04-07 12:27] TIMMLOPK commented on #394
I rolled back when you saw.I create version , it has issues now

[2022-04-07 13:30] #386 closed

[2022-04-09 19:21] StevenStavrakis opened #401 "[BUG] - Library incompatible with React 18"
### Describe the bug

Using vite, when I upgrade my project to react@latest and react-dom@latest the application is unable to render due to the error:

[code]

Further investigation yields that the react-spectrum library does not support react 18 currently: [Link to relevant issue](https://github.com/adobe/react-spectrum/issues/2800)

### Your Example Website or App

_No response_

### Steps to Re

[2022-04-10 01:44] prkirby commented on #267
I wanna say I'm getting this same issue for the Label component:

[code]

Should I open a new ticket @jrgarciadev

[2022-04-10 15:21] jrgarciadev commented on #401
Hey @StevenStavrakis could you try. again using the latest version of NextUI `v1.0.8-beta.5`?

[2022-04-10 20:54] Feli02 commented on #378
I'm still needing some help with this

[2022-04-10 21:00] jrgarciadev commented on #378
Hey @Feli02 sorry for the delay, NextUI allows you to customize the default theme colors such as primary, secondary, success, error, etc..

https://nextui.org/docs/theme/customize-theme
https://nextui.org/docs/theme/default-theme

NextUI doesn't support a custom color name through "color", "helperColor", "status" etc because the idea is to have a System Desing with strict colors although you can c

[2022-04-11 04:19] TIMMLOPK commented on #394
![image](https://user-images.githubusercontent.com/72869479/162664175-f4f28eaf-54a7-42a1-901d-e5e11b48d39c.png)
I find this issues also appear in nextui docs theme toggle button ,I think this issues is `usetheme` as the button should display sunicon when  `isDark=true`.The button can't click too

[2022-04-11 12:12] hmbrg commented on #291
Bump. Are there any news on this? I'm still trying to figure this out.

[2022-04-13 13:54] AndresMancheno opened #406 "[SUGGESTION] - Components/Table"
### Describe the bug

Its not a bug, but personally i think that all tables would be prettier if the value of the **overflow-x** is '**_auto_**' instead of '**_scroll_**'.

### Your Example Website or App

_No response_

### Steps to Reproduce the Bug or Issue

Happens on all tables.

### Expected behavior

As a user, I prefer not to see the horizontal scroll bar unless it`s necessary.

### Screen

[2022-04-15 07:44] NitinNair89 opened #409 "[BUG] - Components/Link"
### Describe the bug

An error "NextLink is not defined" is displayed when following the documentation for NextUI Link component. Documentation link - https://nextui.org/docs/components/link#next.js-link

### Your Example Website or App

https://codesandbox.io/s/kmd6yi?file=/App.js&from-sandpack=true

### Steps to Reproduce the Bug or Issue

1. Go to - https://nextui.org/docs/components/link#next.

[2022-04-15 14:11] jrgarciadev commented on #409
Hey @NitinNair89 thanks for reporting it

[2022-04-15 15:34] OrhanTozan commented on #293
Not experiencing this issue anymore with the latest version (v1.0.8-beta.5) 👍.

[2022-04-15 15:34] #293 closed

[2022-04-15 23:08] SalahAdDin opened #410 "[BUG] - Container as property does not work"
### Describe the bug

We are using **Container** to wrap the application components, we passed `section` to the `as` property, but it still renders a `div`.

[code]

### Your Example Website or App

Look at here: https://codesandbox.io/s/thirsty-gwen-tlfiix

### Steps to Reproduce the Bug or Issue

1. Check the Calendar component wrapper on browser.
2. See it is still a div.

### Expected behavior

[2022-04-16 08:19] TIMMLOPK commented on #394
@jrgarciadev Any progress of this ? I noticed `1.0.6-beta5` or after version will appear this issue

[2022-04-16 14:19] SalahAdDin opened #412 "[Feature Request] Add label to Radio Group"
### Is your feature request related to a problem? Please describe.

Right now [**CheckboxGroup**](https://nextui.org/docs/components/checkbox-group#apis) have label and [**Input**](https://nextui.org/docs/components/input#apis) has helper text and status, but [**RadioGroup**](https://nextui.org/docs/components/radio#radio-group-props) does not have.

All of those properties are ultra required when

[2022-04-16 14:45] SalahAdDin opened #413 "[BUG] - RadioGroup: Function components cannot be given refs. Attempts to access this ref will fail. Did you mean to use React.forwardRef()?"
### Describe the bug

I'm using a **RadioGroup** as a **SelectInput** alternative, no problem at rendering, but I'm getting the next bug:
[code]

### Your Example Website or App

Look at here: https://codesandbox.io/s/thirsty-gwen-tlfiix

### Steps to Reproduce the Bug or Issue

1. Do click in a `+` button.
2. Check the radio button group on the inspector.
3. Check the console.
4. You will find th

[2022-04-17 00:06] SalahAdDin opened #414 "[BUG] - Wrong behaviour on Textarea with labelPlaceholder"
### Describe the bug

When using **Textarea** with `labelPlaceholder`, we are not getting the label inside of the input and also we are getting warnings on console:
[code]

### Your Example Website or App

Here an example of the project: https://codesandbox.io/s/thirsty-gwen-tlfiix

### Steps to Reproduce the Bug or Issue

1. Do click on the `+` button to add a reminder on the calendar.
2. Go to t

[2022-04-17 15:40] SalahAdDin opened #415 "[BUG] - Inputs has no roles by default."
### Describe the bug

We created hour website using this elegant library.

There is time to test the forms we created and we get the following error:
[code]

We used the same line we used with **MUI** based websites, but it didn't work here.

### Your Example Website or App

_No response_

### Steps to Reproduce the Bug or Issue

1. Run tests.

### Expected behavior

It should return all available

[2022-04-20 15:50] osok-dev commented on #401
I'm also having issues with a (mostly) fresh create-react-app project.

Rough repro:
- `npx create-react-app my-app --template typescript`
- `npm i @nextui-org/react@1.0.8-beta.5`
- See the following error:

[code]

[2022-04-21 08:12] rauldeheer opened #419 "[BUG] - CHECKBOX CHECKED APPEARS UNCHEKED"
### Describe the bug

I've created a list of checkboxes. When I check three boxes and uncheck the middle one, something weird happens. The second and third checkbox become unchecked, while only one checkbox was clicked. However, the state appears to update correctly.

I'm using `@nextui-org/react` version `^1.0.2-beta.4`.

### Your Example Website or App

_No response_

### Steps to Reproduce the

[2022-04-21 08:16] rauldeheer commented on #419
Upgrading to `@nextui-org/react version` to `^1.0.8-beta.5` solved the issue without additional code changes.

[2022-04-21 08:16] #419 closed

[2022-04-21 15:21] devongovett commented on #401
React 18 support in React Aria is tracked here: https://github.com/adobe/react-spectrum/issues/2800

[2022-04-21 20:27] #406 closed

[2022-04-21 20:27] #410 closed

[2022-04-21 20:27] #413 closed

[2022-04-22 06:20] TIMMLOPK commented on #394
Issues solved in `1.0.0-beta.6`

[2022-04-22 06:20] #394 closed

[2022-04-22 13:38] #378 closed

[2022-04-22 13:39] #116 closed

[2022-04-22 18:25] alyrik opened #426 "[BUG] - <Button> onClick handler is not triggered by keyboard"
### Describe the bug

`onClick` handler is not triggered when activating `<Button>` with keyboard.

### Your Example Website or App

_No response_

### Steps to Reproduce the Bug or Issue

1. Go to [any page](https://nextui.org/docs/components/modal) with `<Button>` component.
2. Set focus on `<Button>` (for example, by tabbing).
3. Press Spacebar or Enter key.
4. `onClick` handler is not triggere

[2022-04-24 15:56] czanas28 opened #427 "[BUG] - Components/Popover"
### Describe the bug

Not reporting a bug with the actual popover. Just the code sandbox project.

The Text component is not added in the import, on the Placements codesandbox, so testing returns and error until it's added manually.

### Your Example Website or App

_No response_

### Steps to Reproduce the Bug or Issue

Go to https://nextui.org/docs/components/popover

Under the 'Placements' sect

[2022-04-24 20:23] #427 closed

[2022-04-24 20:24] jrgarciadev commented on #427
Hey @czanas28 thanks for reporting it,  fixed it is on its way https://github.com/nextui-org/nextui/actions/runs/2216736226

[2022-04-25 18:07] IraiDev opened #431 "CHECKBOX BUG `initialChecked`"
### Describe the bug

Warning: React does not recognize the `initialChecked` prop on a DOM element. If you intentionally want it to appear in the DOM as a custom attribute, spell it as lowercase `initialchecked` instead. If you accidentally passed it from a parent component, remove it from the DOM element.

### Your Example Website or App

_No response_

### Steps to Reproduce the Bug or Issue

1.

[2022-04-25 23:03] #291 closed

[2022-04-26 12:06] Kaasfonthijn commented on #431
I also encountered this bug and later found this post. This warning even occurs with a fresh Next.js project with only Nextui as a dependency.

[2022-04-27 19:36] nanthony007 commented on #426
Having this issue today as well.

[2022-04-28 13:54] TheAlphaReturns commented on #391
full disclaimer, this is my second issue on this repo, but thanks.

[2022-04-28 22:44] tianenpang opened #439 "[BUG] - Table with pagination is not rendered on the server side"
### Describe the bug

The server side does not render row data depending on `rowsPerPage`

### Your Example Website or App

https://codesandbox.io/s/next-ui-pagination-table-ssr-mt0boq

### Steps to Reproduce the Bug or Issue

1. Go to `index.js`
2. Open Devtools
3. Take look at the preview in Network

### Expected behavior

Get the correct SSR according to `rowsPerPage`

### Screenshots or Videos

[2022-04-29 09:54] anoushk1234 opened #441 "Error in Documentation for _document.tsx"
### Describe the bug

heres the code from the docs
[code]
i get a type error at this line `styles: <>{initialProps.styles}</>,` saying `Type 'Element' is not assignable to type 'ReactElement<any, string | JSXElementConstructor<any>>[] | ReactFragment | undefined'`

if i remove the <> </> it doesnt show a type error and it works

### Your Example Website or App

_No response_

### Steps to Reproduc

[2022-04-30 05:42] anoushk1234 commented on #441
hey, if it's not an issue with the defined types then the documentation needs to be update because `styles: <>{initialProps.styles}</>,` doesn't work

[2022-05-02 01:30] TheAlphaReturns commented on #391
any follow up?

[2022-05-02 01:38] jrgarciadev commented on #441
Hey @anoushk1234 could you please share with us your `tsconfig.json`?

[2022-05-02 05:19] anoushk1234 commented on #441
Yes sure, here you go https://github.com/anoushk1234/anoushk.xyz/blob/main/tsconfig.json

[2022-05-02 13:11] #359 closed

[2022-05-04 06:00] NayamAmarshe commented on #441
Here's how I fixed it:
[code]

[2022-05-04 07:39] anoushk1234 commented on #441
ohk got it, I'll update the docs with this code

[2022-05-04 12:43] imentu commented on #391
![5ea315ca2840981a58d8f7faf4a849e](https://user-images.githubusercontent.com/62298214/166683129-6dd148aa-d4e5-4360-8cbd-dca6b549a1a5.png)
@TheAlphaReturns add these css attribute to the <nextUI.Link> could solve your problem

[2022-05-04 19:01] marcoripa96 opened #453 "[BUG] - property length required when creating a component with styled"
### Describe the bug

I setup a clean nextjs typescript project, installed nextUI and imported styled to create a styled component following Stitches documentation.
For some reason the object which contains the styles requires a length property and typescript isn't happy.

### Your Example Website or App

https://github.com/marcoripa96/next-nextui-trpc-starter

### Steps to Reproduce the Bug or Is

[2022-05-04 19:17] marcoripa96 commented on #441
This doesn't work for me. React throws a warning for duplicate keys when using an array. I'm ignore ts typechecking at the moment.

[2022-05-04 19:28] TheAlphaReturns commented on #391
I'll try it.

On Wed, May 4, 2022, 8:43 AM imentu ***@***.***> wrote:

[2022-05-05 13:05] jrgarciadev commented on #453
Hey @marcoripa96 this issue has been reported before #291 , here's a workaround https://github.com/nextui-org/nextui/issues/291#issuecomment-1064031921, we already fixed this but it's pending to be released

Hope it helps!

[2022-05-05 14:30] behrouze opened #456 "[BUG] - Unblured Help menu bar on Firefox (mobile and desktop)"
### Describe the bug

On mobile devices, when browsing with Firefox Mobile, the blur effect applied to the menu `backdrop-filter: saturate(180%)blur(10px);` does not work.

Maybe could you apply a [CSS filter](https://developer.mozilla.org/en-US/docs/Web/CSS/filter) instead `filter: blur(10px);` that [work on all browsers](https://developer.mozilla.org/en-US/docs/Web/CSS/filter#browser_compatibili

[2022-05-05 14:48] MR-AliHaashemi commented on #456
As *Next Ui* is created with `stitches`, It would be great to use the `@supports` rule ( like [this](https://stitches.dev/docs/styling#supports-rule) ).

It could be just a transparent (like `a:0.8`?) background, and if the browser supports the `backdrop-filter: blur`, then enabling the blur effect and changing the background transparency.

Sadly, I can't do it myself as I'm a newbie, but I just w

[2022-05-06 11:52] marcoripa96 opened #458 "[BUG] - The content of the popover appears blurred"
### Describe the bug

The content of the popover is blurred up until trying zooming the page or simply trying opening the dev console in the browser. This looks like an issue with the transform animation. If the animation is disabled the popover appears no longer blurred.

### Your Example Website or App

_No response_

### Steps to Reproduce the Bug or Issue

1. Got to the documentation of the po

[2022-05-08 04:37] imentu commented on #391
@TheAlphaReturns is the problem solved?

[2022-05-08 13:14] #441 closed

[2022-05-09 08:34] notmedia opened #462 "[BUG] - Can't pass custom variants props to styled component"
### Describe the bug

[code]

If I use `import { styled } from '@stitches/react'` then it works and the StyledDiv has `custom` property

### Your Example Website or App

_No response_

### Steps to Reproduce the Bug or Issue

In desctipion

### Expected behavior

I expect that styled from NextUI add custom variants props

### Screenshots or Videos

_No response_

### Operating System Version

maco

[2022-05-09 10:42] notmedia commented on #462
After research found the solution. The problem was with TS version, this problem occures on typescript 4.6.6. After downgrading to 4.5.5 it works fine.

So in the future this would be perfect if we support the latest ts

[2022-05-09 11:21] notmedia commented on #462
Will be fixed in https://github.com/nextui-org/nextui/pull/434

[2022-05-10 00:09] #391 closed

[2022-05-10 00:09] #431 closed

[2022-05-10 00:09] #439 closed

[2022-05-10 00:09] #453 closed

[2022-05-10 00:09] #456 closed

[2022-05-10 00:09] #458 closed

[2022-05-10 00:31] TheAlphaReturns commented on #391
oh sorry, no its not

[2022-05-11 18:55] soupCodez opened #467 "[Feature Request] New component: Navbar"
### Is your feature request related to a problem? Please describe.

My feature request is unrelated to any specific problems.

### Describe the solution you'd like

I think a navbar component would be beneficial for NextUI.

### Describe alternatives you've considered

I have considered using Bootstrap just for the navbar but that would greatly increase my bundle size.

### Screenshots or Videos

[2022-05-11 19:01] soupCodez commented on #467
Here is the navbar discussion: https://github.com/nextui-org/nextui/discussions/433

Here is the sidebar discussion: https://github.com/nextui-org/nextui/discussions/315

[2022-05-11 19:01] #467 closed

[2022-05-11 21:28] imhalid opened #468 "[BUG] - confetti works in wrong position"
### i think this is a problem

![Imgur](https://imgur.com/yCV6rKw.gif)

### Expected behavior

The confetti needs to explode on the button

macOS, OperaGX

[2022-05-13 13:09] #468 closed

[2022-05-15 01:44] SalahAdDin opened #470 "[BUG] - Text "variant" is not applied when as component"
### Describe the bug

We are using **Text** to print text on the site and we are expecting it to work as [**Typography** from MUI](https://mui.com/material-ui/customization/typography/): when we pass a variant with a different component(["as" in **NextUI**](https://nextui.org/docs/components/text#text-props)), we are expecting to have a **html** tag with the variant styles.

Our code is as follows

[2022-05-15 15:34] jrgarciadev commented on #470
Hey @SalahAdDin, the `as` prop on `Text` component overrides any `Text` variation like `h1, h2, h3...`, because under the hood `NextUI` takes those props (h1, h2, h3...) and it pass them through the `as` prop, I recommend you render `h1` (h2,h3..) as `h1` and not as `p`

[code]

I'll consider adding those styles through `classNames` as `MUI` does instead of applying them globally

If you still wan

[2022-05-15 15:34] #470 closed

[2022-05-16 09:49] Jurredr opened #474 "[BUG] - Received `true` for a non-boolean attribute"
### Describe the bug

Found an issue with the `User` component. For some reason it keeps throwing warnings about its boolean props not allowing boolean parameters;
[code]

### Your Example Website or App

_No response_

### Steps to Reproduce the Bug or Issue

1. Add in a User component
2. Add some boolean parameters, e.g. this is my component:
[code]

### Expected behavior

No warnings about the

[2022-05-16 16:19] jansedlon opened #476 "[Feature Request] Allow Avatar to pass custom ref to img element"
### Is your feature request related to a problem? Please describe.

I need access to the underlying `img` element. I want to use the `Avatar` component to be used with [`blurhash`,](https://blurha.sh) therefore access to the `img` element and `onLoad` event is required.

### Describe the solution you'd like

Use `useForkRef` hook that allows using two refs at once (as seen in [`@mui/utils`](https:

[2022-05-18 13:54] mattmanik opened #481 "[BUG] - Components/Popover"
### Describe the bug

Hello !
 I'm getting an undefined error for Popover.Trigger and Popover.Content , a new release from NextUI I think.

### Your Example Website or App

_No response_

### Steps to Reproduce the Bug or Issue

1. Use the popover component below

    <Popover>
      <Popover.Trigger>
        <Button auto flat>Open Popover</Button>
      </Popover.Trigger>
      <Popover.Content>

[2022-05-18 18:28] DannyNemer opened #482 "[BUG] - `Button` uses deprecated `onClick` instead of `onPress`"
### Describe the bug

Currently, the `Button` component uses the deprecated `onClick`. However, `onClick` is deprecated in favor of `onPress`, as shown in the warning below from React Dev Tools:
<img width="557" alt="image" src="https://user-images.githubusercontent.com/170023/169117499-bf709923-2394-4ce0-b461-57adcd22c2ac.png">

### Your Example Website or App

_No response_

### Steps to Reprodu

[2022-05-19 13:55] jrgarciadev commented on #481
Hey @mattmanik could you please provide a Codesanbox?

[2022-05-19 23:56] cdjbm commented on #481
I have the same issue, i cant import the component, display this message **Module '"@nextui-org/react"' has no exported member 'Popover'** I have the last version of NextUI

[2022-05-20 14:33] jrgarciadev commented on #481
Hey @cdjbm here's a fully working Codesandbox https://codesandbox.io/s/nextui-popover-bjozgx?file=/App.js (using the NextUI lastest version)

[2022-05-24 13:31] Cow258 commented on #482
Are you developing React Native?

[2022-05-24 21:06] DannyNemer commented on #482
@Cow258 Nope, I am only developing for React Web. Is this warning is specific to React Native?

[2022-05-25 12:26] Yan-Zhelanov opened #488 "[BUG] - Components/Table"
### Describe the bug

The table is re-rendered every time the mouse and keyboard are clicked. If you click sequentially first on the left mouse button, then on any button on the keyboard, the table will be rendered as a result 2 extra times. This is the sequence in which it works.

### Your Example Website or App

https://codesandbox.io/s/zbgfe2?file=/App.js:0-1209&from-sandpack=true

### Steps to

[2022-05-25 17:10] suica opened #489 "[BUG] - Doc's navbar could become transparent after refreshing"
### Describe the bug

The navbar of nextui doc could lose the detached style and become transparent after refreshing.

### Your Example Website or App

_No response_

### Steps to Reproduce the Bug or Issue

1. Go to https://nextui.org/docs/theme/typescript
2. Scroll down to the end of page
3. Refresh the page

### Expected behavior

Expect a blurred navbar (with detached style), but I see a trans

[2022-05-25 17:17] suica commented on #489
Use `yarn dev:docs` to serve the docs locally, then reproduce this issure, the console says:

[code]

So it could be a issue of SSR...

[2022-05-26 04:36] jstbyte opened #490 "[BUG] - Button Not Working With Next.js Link Component on Andorid(brave browser)"
### Describe the bug

TypeError: Cannot read property 'nodeName' of undefined.

### Your Example Website or App

_No response_

### Steps to Reproduce the Bug or Issue

    <Link href='/test'>
          <Button
            as='a'
            auto
            size='sm'
            shadow
            css={{ marginTop: '$12' }}
            onClick={() => ''}

            Test Page
          </Button>

[2022-05-26 13:23] #489 closed

[2022-05-26 23:03] TechnologicNick opened #494 "[Feature Request] Add Tooltip prop to disable focus"
### Is your feature request related to a problem? Please describe.

I made a table that has buttons wrapped in tooltips, just like in the [custom cells example](https://nextui.org/docs/components/table#custom-cells). When navigating to the buttons using the keyboard, the tooltip `<div>` is focussed instead. To navigate to the button, an additional keypress is required.

### Describe the solution y

[2022-05-27 01:18] emadel1990 opened #495 "[BUG] - Components/Button"
### Describe the bug

When you have a "hoverable" effect on a component, all the Buttons changes in every hover.

### Your Example Website or App

https://pokemons-nextjs.netlify.app/name/ivysaur

### Steps to Reproduce the Bug or Issue

1. Hover the card on the left.
2. You will see the button on the right corner changes in every hover.

### Expected behavior

I expected to not have this behavior

[2022-05-27 01:59] TechnologicNick commented on #482
This is from the react-aria [`useButton` hook](https://github.com/adobe/react-spectrum/blame/1c5b08689cce962f9d9e57e01e65c76d8385c4d3/packages/%40react-aria/button/src/useButton.ts#L112). In this [blog post](https://react-spectrum.adobe.com/blog/building-a-button-part-1.html) it is explained why `onPress` has been created.

[2022-05-27 09:24] imchell opened #497 "[Feature Request] i18n for Documentation"
### Is your feature request related to a problem? Please describe.

Does NextUI have a plan to support documentation in other languages? It will surely help more users.

### Describe the solution you'd like

Many libraries, like i18next, play well with Next.js sub-path routing and MDX in this case.

### Describe alternatives you've considered

It's not elegant but time-saving to put MD translation

[2022-05-27 15:55] imchell opened #498 "[BUG] - Storybook not launch when node >= 18"
### Describe the bug

With Node 18, `yarn sb` and `yarn start:sb` do not finish building and prompt `details.family.toLowerCase is not a function` error. This was mentioned also in a [Storybook issue](https://github.com/storybookjs/storybook/issues/18010). When I used Node 16/14 it worked well.

### Your Example Website or App

_No response_

### Steps to Reproduce the Bug or Issue

Switch to Node

[2022-05-27 21:38] joheiska opened #500 "[BUG] - Opening and closing a modal breaks page scrolling"
### Describe the bug

Opening a modal breaks the page scrolling as the page scrolling is disabled even after closing the modal. Overflow issue within the modal component. If you inspect the page while opening/closing modal, body gets assigned `overflow: hidden` but it is never removed.

### Your Example Website or App

_No response_

### Steps to Reproduce the Bug or Issue

- Create modal withing

[2022-05-27 22:28] #500 closed

[2022-05-31 07:53] Ampex opened #504 "[BUG] - Modal not re-rendering childrens"
### Discussed in https://github.com/nextui-org/nextui/discussions/503

<div type='discussions-op-text'>

<sup>Originally posted by **Ampex** May 31, 2022</sup>
Hello, I found an issue, that `Modal` on opened state is not re-rendering `{ children }` if they changed. My idea is to dynamically change a content of Modal body with context API, but now it is impossible... what do you think ?</div>

[2022-05-31 07:57] #504 closed

[2022-06-01 10:03] prerna-acharya opened #506 "[BUG] - Components/Popover"
### Describe the bug

when click on right-top button it popover the right bottom. and when click on right-bottom it popover the right-top.

### Your Example Website or App

_No response_

### Steps to Reproduce the Bug or Issue

see error

### Expected behavior

when click on right-top button it popover the right top. and when click on right-bottom it popover the right-bottom.

### Screenshots or

[2022-06-05 07:16] imchell commented on #506
I guess this is rather an ambiguity in the component description than a bug. Note that left-bottom, left-top, and other popover placements share the same logic.

[2022-06-05 08:46] gariasf commented on #506
I think it does use the appropriate origin, but its height makes it appear like it comes from a different point. I don't think this should be considered a bug.

[2022-06-05 11:42] Ampex commented on #504
Was a my mistake :)

[2022-06-06 06:16] Lantianyou commented on #482
Having the same issue with React@18 web ....

[2022-06-06 08:35] imchell opened #509 "[BUG] - Table Row Jitters when Mouse Enters in Safari"
### Describe the bug

Table row jitters when mouse enters it in Safari

### Your Example Website or App

_No response_

### Steps to Reproduce the Bug or Issue

Visit any selectable table ([the one in doc](https://nextui.org/docs/components/table#single-selection) for example) and hover mouse over it.

### Expected behavior

No jitters

### Screenshots or Videos

![Illustration](https://us1.myxima

[2022-06-06 12:55] jrgarciadev commented on #495
Hey @emadel1990 , it cannot replicate the bug that you mention

https://user-images.githubusercontent.com/30373425/172164670-b67498f4-45af-441b-b083-d1145e3bc7be.mov

[2022-06-06 13:01] jrgarciadev commented on #482
Hey guys this is not a bug, as @TechnologicNick mentioned before, the recommended way to handle the button action is using the function `onPress`,  in this blog you can find why https://react-spectrum.adobe.com/blog/building-a-button-part-1.html

[2022-06-06 13:16] #498 closed

[2022-06-06 21:34] #474 closed

[2022-06-06 21:34] #174 closed

[2022-06-06 21:34] #301 closed

[2022-06-06 21:34] #509 closed

[2022-06-07 18:42] b-bot opened #515 "[BUG] - `VariantProps` throwing type error when used on custom styled component"
### Describe the bug

Currently creating a branded component library with some components based on Next UI.

The library goes through a separate build process and packages for a private NPM library.

Currently getting a strange TypeScript error when trying to use the `VariantProps` to add completion to my component variants:

[code]
Using Typescript ^4.7.3 with `tsconfig.json` file:
[code]

### Yo

[2022-06-07 22:31] tianenpang commented on #515
You can use `React.ComponentProps` instead of `VariantProps`, the original `Text` types will also be included.

Refer to https://github.com/stitchesjs/stitches/discussions/213#discussioncomment-2148614 and an example here [codesandbox.io/s/nextui-issue-515-grl1xq](https://codesandbox.io/s/nextui-issue-515-grl1xq?file=/pages/index.tsx).

Hope it helps you.

[2022-06-08 04:19] T4533N opened #516 "[Feature Request] Figma file for NextUI components"
### Is your feature request related to a problem? Please describe.

Building a Figma design that corresponds & syncs with the actual code implementation is really hard. It really takes time to make designs with a component library in mind.

### Describe the solution you'd like

 I feel like NextUI already has a design system, would love it, if they make it public for the community.

### Describe a

[2022-06-08 08:46] aPinix opened #517 "[Improvement] - Components/Dropdown"
### Describe the bug

This is a visual bug.

When you open the dropdown and go to the second item, for example, then you click up on the keyboard to highçight the first item, this appears with the outline beneath the one highlighted with the mouse. Feels a bit weird (see image).

### Your Example Website or App

_No response_

### Steps to Reproduce the Bug or Issue

1. Open dropdown
2. Go with th

[2022-06-08 20:57] TechnologicNick opened #521 "[BUG] - Components/Tooltip offset due to margin at document start"
### Describe the bug

When the document starts with a vertical margin, all tooltips are offset by this margin.

This bug might be the same as #230, which was unable to be reproduced and later closed as a non-NextUI issue.

### Your Example Website or App

https://codesandbox.io/s/sandpack-project-forked-3h6lsu?file=/index.tsx

### Steps to Reproduce the Bug or Issue

1. Hover over any of the two b

[2022-06-08 22:14] Kublick opened #522 "[BUG] - Terminal will request to add <SSRProvider> for consistent ids"
### Describe the bug

Hello

After updating my project to v1.0.0-beta8 (Nextjs 12.1.5, React 17) on terminal console I get the following error.

![image](https://user-images.githubusercontent.com/39152022/172725805-d3b1eece-d978-4b93-80ad-8d8633fe4ed6.png)

On the browser console I will see that id are not matching

![image](https://user-images.githubusercontent.com/39152022/172726110-16ab3e5e-a64

[2022-06-09 02:05] imchell opened #525 "[BUG] - Switch Animation In Safari"
### Describe the bug

When trying to uncheck an animated & checked switch component, the animation looks weird.

My guess is that the `left` and `width` of `StyledSwitchCircle` do not update simultaneously in Safari. Similar bug also appears in some of other libs like [Vuesax](https://vuesax.com/docs/components/Switch.html). If there is a animation sequence to perform `width` transformation first

[2022-06-09 03:50] imchell commented on #525
A bug when `shadow = {true}`

![shadow](https://us1.myximage.com/2022/06/09/77b58b1ea2e8d69355b77e76edd70dd6.gif)

[2022-06-09 09:55] AivarGabd opened #527 "[BUG] - Components/Tooltip"
### Describe the bug

Tooltip with trigger="click" onClick evenbt 'onClick is deprecated, please use onPress '

"react-dom": "18.1.0"

### Your Example Website or App

https://codesandbox.io/s/sandpack-project-forked-kc3sl1?file=/App.js:218-225

### Steps to Reproduce the Bug or Issue

When clicking Tooltip with trigger=click, react-dom send message 'onClick is deprecated, please use onPress ' int

[2022-06-09 09:59] AivarGabd commented on #527
❤️ ❤️ ❤️
Love You work btw, keep moving

[2022-06-09 10:21] ShellarFX commented on #516
Figma file will be published with NextUI release

[2022-06-09 20:45] #401 closed

[2022-06-10 03:07] prerna-acharya opened #534 "[BUG] - Components/Dropdown"
### Describe the bug

can't importing the dropdown .

### Your Example Website or App

_No response_

### Steps to Reproduce the Bug or Issue

fix the bug.

### Expected behavior

can't importing the dropdown

### Screenshots or Videos

![Screenshot 2022-06-10 083555](https://user-images.githubusercontent.com/106294466/172982280-7c41ff85-e180-41cd-a7e3-c0863bd81e6a.png)

### Operating System Versi

[2022-06-10 08:41] imchell commented on #527
This was not caused by `onClick()` but a conflict between `<Button />` click action and `<Tooltip />` click action. If you replace `<Button />` with something unclickable, say `<Card />`, the function works well. Hope this helps.

[2022-06-10 11:17] AivarGabd commented on #527
Oki

[2022-06-10 11:17] #527 closed

[2022-06-10 13:48] Guilledorfman opened #538 "[BUG] - Tooltip trigger="click" not working."
### Describe the bug

The trigger="click" property on the tooltip component is not working, not even the example listed on the NextUI documentation. Tested on multiple browsers.

### Your Example Website or App

https://nextui.org/docs/components/tooltip

### Steps to Reproduce the Bug or Issue

     <Tooltip
          content={"Developers love Next.js"}
          trigger="click"
          color="

[2022-06-10 14:05] imchell commented on #538
Please kindly refer to #527.

[2022-06-10 14:21] Guilledorfman commented on #538
Thank you!

[2022-06-11 04:09] TaoN23 opened #539 "[BUG] - Card props does not work"
### Describe the bug

### Browser Console:
`Warning: Received `true` for a non-boolean attribute `hoverable`.

If you want to write it to the DOM, pass a string instead: hoverable="true" or hoverable={value.toString()}.
div
Styled.div
./node_modules/@nextui-org/react/esm/card/card.js/d<@http://localhost:3001/static/js/bundle.js:50711:7
SignIn@http://localhost:3001/static/js/bundle.js:1368:60
Route

[2022-06-11 05:07] imchell commented on #539
Thanks for feedback. If you are passing props to `<Card />`, the correct attribute is [`isHoverable`](https://nextui.org/docs/components/card#hoverable) instead of `hoverable`.

[2022-06-11 12:00] TaoN23 commented on #539
ok, thank you. I overlooked, that the card component was updated.

[2022-06-11 12:00] #539 closed

[2022-06-12 05:52] pprathameshmore opened #541 "[BUG] - Module not found: Can't resolve '@react-stately/collections'"
### Describe the bug

I was working on the Next.js app. I installed the react-use package in my Next.js project! Suddenly Next.js started throwing errors!

![image](https://user-images.githubusercontent.com/17108186/173217596-0194c390-ebce-4c3e-90e6-d33b40a56dca.png)

Then, I searched for similar errors on Stackoverflow. Some of them suggested removing node_modules and package-lock.json and trying

[2022-06-12 09:09] tianenpang commented on #541
Please share a full repro case of this issue, I can not reproduce it.

[2022-06-12 11:41] pprathameshmore commented on #541
https://github.com/takeKode/takeKode-frontend
Please checkout develop branch

[2022-06-12 13:09] tianenpang commented on #541
Hey @pprathameshmore Looks like it's working great.

[code]

Here is my environment.

[code]

Screenshot of home and code pages.

![ss](https://user-images.githubusercontent.com/32772271/173233880-56bdac7f-fa2c-4515-8c30-f7bfd1c611d2.png)

[2022-06-12 13:34] pprathameshmore commented on #541
Thank you! It is working now!

[2022-06-12 13:34] #541 closed

[2022-06-13 01:30] TarsiSurdi opened #543 "[BUG] - Table.Pagination components doesn't update the number of pages displayed when the table data changes"
### Describe the bug

I'm updating the data within a table through a dropdown selector for different sets of data.

Once the data being displayed updates, the number of pages shown by the pagination components doesn't reflect the change properly.

For example, if a dataset has less items than the previous, more pages than necessary are available for the user to choose from. Also, if the initial da

[2022-06-13 01:33] TarsiSurdi commented on #543
Also, if you want to take a look at my code, the repo for the website in question is available here: [Buscavet Repository](https://github.com/TarsiSurdi/buscavet)

[2022-06-13 02:09] TarsiSurdi commented on #543
I stumbled uppon issue #324 and it shed some light into some non documented props of the Pagination component that I was able to implement on my app. Now the size of the pagination updates accordingly to the dataset.

But there's a new issue: if you select a page like "4" and change the dataset to a smaller one, the page goes back to the first one (as I implemented on my code) but the contents of

[2022-06-13 02:52] lorenzejay commented on #409
You didn't import `NextLink` hence why its not defined.

[2022-06-13 05:02] imchell commented on #543
I can reproduce the bug when `<Table.Pagination />`'s `total` attribute is controlled manually. Looking into the issue. Thanks.

[2022-06-15 19:25] biomathcode commented on #534
hey @tianenpang ,

`@next-ui-org/react `- version `^1.0.0-beta.9`

Requires to install `@react-stately/collections` , and `@react-stately/menu `

[2022-06-15 20:01] tianenpang commented on #534
Hi @biomathcode thanks for feedback, can you share a reproduced repo or the following info?

[code]

[2022-06-16 06:55] imchell opened #546 "[BUG] - Cannot find module '@react-aria/radio'"
### Describe the bug

Launch Storybook and Radio component can not be displayed with error message saying
[code]

### Your Example Website or App

_No response_

### Steps to Reproduce the Bug or Issue

Run `yarn sb` and view console.

### Expected behavior

Radio can be properly tested in Storybook.

### Screenshots or Videos

_No response_

### Operating System Version

macOS

### Browser

Chrom

[2022-06-16 08:54] imchell commented on #546
Thanks! Didn't notice a new package was added.

[2022-06-16 08:54] #546 closed

[2022-06-16 18:57] Guilledorfman opened #548 "[Feature Request] Table pagination 'Load More' trigger"
### Is your feature request related to a problem? Please describe.

Currently we have two ways to paginate the table, using the Table.Pagination and infinity pagination.
I find myself needing a third way, an infinity pagination type of thing but instead of automatically fetching the data when reaching the bottom, displaying a 'Load More' button inside the table, this way I can read the last row of

[2022-06-16 21:12] jz222 commented on #482
Hi,

@jrgarciadev I'm a bit confused. You mentioned that this is expected behavior and if I replace `onClick` with `onPress`, the warning indeed disappears. However, when I click the button, the warning shows up again. This can be reproduced with the latest CRA and NextUI beta 9.
I found [this](https://github.com/nextui-org/nextui/blob/main/packages/react/src/button/button.tsx#L129) line, but I'm

[2022-06-17 06:55] SalahAdDin commented on #414
@jrgarciadev pinned but stalte hehehehe

[2022-06-17 09:04] koten551 opened #551 "[BUG] - Components/Table"
### Describe the bug

using input tag on Table.cell making this is read only, cant change value of

### Your Example Website or App

_No response_

### Steps to Reproduce the Bug or Issue

using input tag on Table.cell making this is read only, cant change value of

### Expected behavior

using input tag on Table.cell making this is read only, cant change value of

### Screenshots or Videos

using

[2022-06-18 14:03] jrgarciadev commented on #525
Hey @imchell 👋🏼, thanks for reporting it!

[2022-06-18 14:15] jrgarciadev commented on #515
Hey @b-bot could try importing the `VariantProps` type from the `@nextui-org/react` package, as follows:

[code]

[2022-06-18 14:54] #551 closed

[2022-06-18 15:02] #495 closed

[2022-06-18 19:32] jonathanfernandezfm opened #554 "[BUG] - Components/Modal Modal onClose executed twice when using a button to close it"
### Describe the bug

When using a `Close` button in a modal, `onClose` function is called twice: button trigger and Modal onClose trigger.
Is this behaviour intended?

### Your Example Website or App

https://codesandbox.io/s/mkj4dp

### Steps to Reproduce the Bug or Issue

1. Open modal
2. Click Close button
3. Check console and see two console.log("close")

### Expected behavior

I expect to se

[2022-06-18 19:34] #554 closed

[2022-06-19 05:41] TroyTae opened #556 "[Improvement] - Disabled switch active animation"
### Describe the bug

Switch active animation is fired when component is disabled.
I find this issue while fixing #553.
I already write prevent code but I'm not commit it because maybe this behavior is your intention.
If this behavior is not your intention, I'll send PR after merging #553.

### Your Example Website or App

_No response_

### Steps to Reproduce the Bug or Issue

1. Click disabled s

[2022-06-19 14:32] yuyake0084 opened #557 "[BUG] - Components/Table Get an error when using onSelectionChange"
### Describe the bug

Thank you for providing a great library.
I tried using onSelectionChange to detect a change in a checkbox in a Table.
However, when I use it, I get the following error:

[code]

[code]

### Your Example Website or App

_No response_

### Steps to Reproduce the Bug or Issue

1. Pass onSelectionChange to props

### Expected behavior

The behavior works as expected, but I'm worr

[2022-06-19 14:53] yuyake0084 commented on #557
Note: Reproduce in local environment, but not reproduce when deployed

[2022-06-20 18:53] parsaJaafari opened #559 "determining on which port running"
### Describe the bug

when running the script `npm run dev:nextui` I have no idea on which port the project is running.

### Your Example Website or App

_No response_

### Steps to Reproduce the Bug or Issue

go to project directory and just write script `npm run dev:nextui`

### Expected behavior

As a developer I need to know which port project is being ran.

### Screenshots or Videos

_No resp

[2022-06-20 23:16] tianenpang commented on #559
Hi @parsaJaafari `yarn dev:nextui` is to compile and watch the Next UI components source, for testing, you can open another terminal and run `yarn sb`, which will start the storybook and run on port `6006`, or you could run `yarn sb` after `yarn build:nextui`.

[2022-06-21 00:43] TarsiSurdi commented on #557
Could you provide your implementation of the component so that I can look into the problem? I don't believe there's an issue with the library itself, but I'l also not discard this option when analysing what you did!

[2022-06-21 01:40] TarsiSurdi commented on #557
I have made a [code sandbox](https://codesandbox.io/s/nextui-issue-557-rfj7yx) for your issue and indeed, that warning is displayed when using that property on the `<Table>` component 🤔. I'll take a look into it, but as far as functionality goes it seems to work just fine.

[2022-06-21 11:09] MamounDebbarh opened #560 "[BUG] - Popover is missing in the package leading to undefined error"
### Describe the bug

The Popover is missing from the package: @nextui/org/react
 and from the types : @nextui/org/react/types

This leads to a TypeError: Cannot read properties of undefined (reading 'Trigger') when using Popover.Trigger.

### Your Example Website or App

_No response_

### Steps to Reproduce the Bug or Issue

npm i @nextui-org/react
go through the get started setup for next JS
Te

[2022-06-21 11:19] imchell commented on #560
A working sample should be
[code]
Did you forget to wrap them in `< Popover>` and `</Popover>`?

[2022-06-21 11:25] MamounDebbarh commented on #560
I did sorry let me edit my post!

[2022-06-21 11:32] TarsiSurdi commented on #521
Interesting... when using paddings instead of margins for the parent component the position of the tooltips is not affected:
https://user-images.githubusercontent.com/19439765/174789473-8381bd9b-1589-4a64-b2f1-cae382bc328e.mp4

[2022-06-21 11:56] parsaJaafari commented on #559
@tianenpang Hi thanks for your explanation

[2022-06-21 12:25] MamounDebbarh commented on #560
This issue might be related to: https://bytemeta.vip/index.php/repo/nextui-org/nextui/issues/481
I am getting the error Module '"@nextui-org/react"' has no exported member 'Popover' When importing.
But I have reinstalled the package so it should be up to date.

[2022-06-21 23:44] DannyNemer opened #561 "[BUG] - Beta 8 and newer cause lag in animations for components in `Card`"
### Describe the bug

When using the `Card` component in Beta 8 or later, animations of components inside the card (e.g., hover with `Button`) experience a significant lag. Merely downgrading to Beta 7 removes the lag instantly.

### Beta 8 & 9 - slow animations
https://user-images.githubusercontent.com/170023/174913771-0da76ce3-05bc-4407-b8f7-03fb85598222.mov

### Beta 7 - fast animations
https:/

[2022-06-22 02:08] imchell commented on #561
Hi @DannyNemer have you tried beta9? I think the performance has been improved since then. Here's a working sample: https://codesandbox.io/s/multiple-buttons-3wevf4

[2022-06-22 02:34] DannyNemer commented on #561
@imchell Yep, performance issues are identical in beta9 as beta8

[2022-06-22 03:00] imchell commented on #561
Ah I can reproduce it in Safari.

[2022-06-22 15:06] danielsimao commented on #415
@jrgarciadev, have you ever considered encapsulating the logic for the label and helperText in a external component, such as `TextField` or `FormField`. In that component, you could gather a nit way to allow customisation on the label and helperText. Including all in the Input component, seems like too much. What do you think?

[2022-06-22 19:11] SalahAdDin commented on #414
Yeah, but I don't get where is the problem, I will check it later when I have time. Thank you.

[2022-06-23 01:44] jrgarciadev commented on #415
Hey @danielsimao yes I have considered that, I would like to implement something like the `@react-aria/spectrum` has https://github.com/adobe/react-spectrum/tree/main/packages/%40react-spectrum/label/src, it would be great to have those components alongside the `Radio`, `Checkbox` and `Input` components

[2022-06-24 08:48] mtsmfm opened #566 "[BUG] - Container: doesn't accept ref prop"
### Describe the bug

[code]

[code]

### Your Example Website or App

https://codesandbox.io/s/nextui-grid-ref-forked-tigu7s?file=/App.tsx:0-254

### Steps to Reproduce the Bug or Issue

https://codesandbox.io/s/nextui-grid-ref-forked-tigu7s?file=/App.tsx:0-254

### Expected behavior

Type check successfully passed

### Screenshots or Videos

![image](https://user-images.githubusercontent.com/179

[2022-06-24 10:04] danielsimao commented on #557
Thanks for reporting the issue @yuyake0084

[2022-06-24 14:07] danielsimao commented on #521
So, if you inspect the container that is applying the margin, it looks like this:
![image](https://user-images.githubusercontent.com/43269067/175552796-3c3c8698-862b-441e-b5a6-e98b79171b99.png)

If you inspect the parent container, you will see that it doesn't not take into account the `Container`'s margin. Look a this:
![image](https://user-images.githubusercontent.com/43269067/175552648-9a3108d3

[2022-06-24 16:42] danielsimao commented on #521
Found this: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing#see_also

[2022-06-24 21:24] fabrizioanichini opened #568 "[Feature Request] NextUI integration in React Native"
### Is your feature request related to a problem? Please describe.

Is there any way to do that now?

### Describe the solution you'd like

As a user I would like to use the UI system of NextUI in React Native apps.

### Describe alternatives you've considered

The other UI frameworks in React Natvie are ugly

### Screenshots or Videos

_No response_

[2022-06-25 15:09] imchell commented on #521
I'm not sure whether I get it right so please point out if I'm wrong. So the key problem here is how we place the tooltip, which was implemented [here](https://github.com/nextui-org/nextui/blob/2eb31e5fe3c29f89c658101072ce44a29e366632/packages/react/src/tooltip/tooltip-content.tsx#L122) but didn't take root element offset into consideration.

[2022-06-25 17:44] TroyTae commented on #561
It seems this issue is coming from this style `filter: var(--nextui-dropShadows-lg);`

Current:
<img width="656" alt="image" src="https://user-images.githubusercontent.com/20078201/175783545-abf3ca5c-6fa7-40c8-be50-2bc9ddc9a03b.png">

Set `filter: none`:
<img width="662" alt="image" src="https://user-images.githubusercontent.com/20078201/175783675-cd8ee8dc-a6ee-4629-a2f0-07f91e05680f.png">

@Danny

[2022-06-25 19:16] danielsimao commented on #521
Exactly, but the offset is odd it self. If you place a `h1` for example as the first child, there won't be an offset.

This is how reachUI calculates the tooltip position: [https://github.com/reach/reach-ui/blob/develop/packages/tooltip/src/index.tsx#L610](url)

[2022-06-25 19:42] hyesungoh opened #569 "[BUG] - button does not work at docs/components/tooltip#custom-content"
### Describe the bug

`Click Delete User` button where `docs/components/tooltip#custom-content` does not work

### Your Example Website or App

https://nextui.org/docs/components/tooltip#custom-content

### Steps to Reproduce the Bug or Issue

1. go to https://nextui.org/docs/components/tooltip#custom-content
2. click `Click Delete User` button

### Expected behavior

tooltip showing

### Screensh

[2022-06-25 19:43] hyesungoh commented on #569
I will handle this issue with #538

[2022-06-26 04:04] TroyTae opened #572 "[BUG] - Modal scroll is not blocked in mobile Safari"
### Describe the bug

Modal scroll is not blocked in mobile Safari.
`overflow: auto;` is a frequently used way, but I think it is better to block it with js.

### Your Example Website or App

_No response_

### Steps to Reproduce the Bug or Issue

1. Open modal in safari
2. Try scroll outside
3. Scroll is not blocked

### Expected behavior

Scroll need to be blocked

### Screenshots or Videos

htt

[2022-06-26 12:33] TroyTae opened #574 "[BUG] - Getting Started document import error"
### Describe the bug

There is no react import code in getting started document.

### Your Example Website or App

_No response_

### Steps to Reproduce the Bug or Issue

1. Go to https://nextui.org/docs/guide/getting-started#next.js
2. Copy step2 code
3. Paste to IDE

### Expected behavior

Provide no error code

### Screenshots or Videos

_No response_

### Operating System Version

macOS

### B

[2022-06-26 15:08] imchell opened #576 "[Feature Request] Improve the Readability of Search Pad"
### Is your feature request related to a problem? Please describe.

Currently search pad lacks color contrast, making it hard to recognize captions.

### Describe the solution you'd like

Change the color of description texts (both default state and hover state).

### Screenshots or Videos

![Search Pad](https://us1.myximage.com/2022/06/26/77455c16d4dc3f9a5e2a36b992af8554.png)

[2022-06-27 04:27] imchell opened #578 "[BUG] - Card Shadow Cropped in Documentation"
### Describe the bug

Card component shadows are cropped in doc live previews. **Only in Safari**.

A possible solution would be adding `css = {{ overflow: "visible" }}` to `Card` but it's not enough for transitions (in hoverable `Card` for example).

### Your Example Website or App

https://nextui.org/docs/components/card

### Steps to Reproduce the Bug or Issue

Visit https://nextui.org/docs/com

[2022-06-28 05:01] #574 closed

[2022-06-28 22:51] notmedia opened #581 "[Feature Request] FileInput component"
### Is your feature request related to a problem? Please describe.

Nextui missing file input component 🙏

### Describe the solution you'd like

Like any other file input component with pretty styling of nextui ❤️

### Describe alternatives you've considered

-

### Screenshots or Videos

_No response_

[2022-06-29 06:50] andresflorez16 opened #582 "[BUG] - Input probles"
### Describe the bug

I tried to use the Input with id, type attributes, but I got the same error

### Your Example Website or App

_No response_

### Steps to Reproduce the Bug or Issue

1. Import Input
2. Add Attributs to my Input
3. Console Error

### Expected behavior

As I user, I expect no got Console Error

### Screenshots or Videos

![Screenshot_1](https://user-images.githubusercontent.com

[2022-06-29 08:46] Guarn opened #583 "Table - Conditionnal rendering -> typescript error"
### Describe the bug

If I add a conditionnal rendering in a Table :

      <Table>
        <Table.Header>
          <Table.Column>Client</Table.Column>
        </Table.Header>
        <Table.Body>
          {1 === 1 && (                                                  <-- Here
            <Table.Row>
              <Table.Cell>a</Table.Cell>
            </Table.Row>
          )}
        </Table.B

[2022-06-29 13:28] danielsimao commented on #583
This problems comes from the types inherited from `@react-type/table`.

https://github.com/nextui-org/nextui/blob/main/packages/react/src/table/base/table-body.tsx#L5

[2022-06-29 13:32] danielsimao commented on #582
@andresflorez16, did you setup correctly the library? You need to wrapper your app around `NextUIProvider` as it is explained in the [Getting Started](https://nextui.org/docs/guide/getting-started#setup).

This erros occurs because the library `react-aria` generates unique ids but needs a specific provider to generate the same id both on the server side and the client side.

[2022-06-29 14:08] fathonialimukti opened #585 "[BUG] - Components/Dropdown"
### Describe the bug

I want to make user login button with custom-trigger, and there seems to be some bug there. so i tried onAction but it wouldn't  work on Dropdown.Item so we can't interact with Dropdown.Item if we place onAction on Dropdown.Menu, it will execute when we click any of the Dropdown.Item , and looks like the key at (key:Key)=>{} didn't refer to Dropdown.Item's key. I have tried w

[2022-06-29 14:11] andresflorez16 commented on #582
Hi, thanks for your prompt response, I use the provider:
![image](https://user-images.githubusercontent.com/88729409/176458034-891a0bce-a394-42a6-9b63-852b97174eb7.png)
![image](https://user-images.githubusercontent.com/88729409/176458109-447bb566-e191-4c27-88f1-6f5e720e8aed.png)

[2022-06-29 14:28] andresflorez16 commented on #582
This is the repository, https://github.com/andresflorez16/ladrillos-mocoa.git

[2022-06-29 16:08] danielsimao commented on #585
@fathonialimukti Could you please provide a codesandbox?

[2022-06-29 17:11] andresflorez16 commented on #582
Everything it's fine, idk what it could be

[2022-06-29 17:58] mattbudde commented on #576
i'll have a PR up to address this shortly.

[2022-06-29 21:16] danielsimao commented on #582
Can this be closed then?

[2022-06-29 21:49] andresflorez16 commented on #582
Ok close it, but the bug is still there, so I'll keep an eye on it

[2022-06-29 21:52] tpruisimao commented on #582
Sorry, I misundertood. I thought you said the warning was gone.

[2022-06-29 22:11] andresflorez16 commented on #582
Oh no, sorry, the warning is still there, I mean, idk what it's, my code it's fine... 😅

[2022-06-29 22:59] Tossko commented on #582
I have the same error as @andresflorez16, i have the provider configured according to the official documentation.

![image](https://user-images.githubusercontent.com/39286714/176559577-cd49b0e7-0666-4ca9-bf86-c731341cf2d2.png)

[2022-06-30 02:17] #576 closed

[2022-06-30 07:55] danielsimao commented on #582
I just found why: [React Spectrum Issue](https://github.com/adobe/react-spectrum/issues/2231#issuecomment-905824601). So, this is not really a bug, but there is a solution.

If you are running a React version previous to 18 you will only be able to suppress that error by disabling Strict Mode. Which is not great if you wanna run your app on Strict Mode. Here is how you disable it in your Nextjs ap

[2022-06-30 15:22] andresflorez16 commented on #582
`/** @type {import('next').NextConfig} */
const nextConfig = {
  reactStrictMode: false,
};

module.exports = nextConfig;`

That's works for me, thanks.

[2022-06-30 15:41] danielsimao commented on #582
This ticket can be closed now, but here are some necessary actions for future @jrgarciadev:

1. Upgrade current React version to `18.0.0`
2. Update `@react-aria`

[2022-06-30 15:53] andresflorez16 commented on #582
My versions are > 18.0.0 btw

[2022-06-30 15:56] danielsimao commented on #582
Yes, but the problem comes from `react-aria` which is a dependency package of the project. The current version most likely does not have react in version `18.0.0`.

[2022-07-01 11:28] fathonialimukti commented on #585
`<Dropdown disableAnimation>
    <Dropdown.Trigger>
        <User
        bordered
        as="button"
        size="lg"
        color="primary"
        name={session.user?.name}
        description={session.user?.email}
        src="https://i.pravatar.cc/150?u=a042581f4e29026024d"
        />
    </Dropdown.Trigger>
    <Dropdown.Menu color="primary" aria-label="User Actions">
        <Dropdown.It

[2022-07-01 11:32] fathonialimukti commented on #585
![image](https://user-images.githubusercontent.com/50938757/176886580-0c42e333-8540-4a9b-b75f-88942744935e.png)

[2022-07-01 12:03] wayf opened #590 "[BUG] - Container / Row / Col gap"
### Describe the bug

[code]

The left padding of the first text block does not match the second

### Your Example Website or App

https://codesandbox.io/s/nextui-bug-x1p3ry

### Steps to Reproduce the Bug or Issue

None

### Expected behavior

Paddings must be the same

### Screenshots or Videos

_No response_

### Operating System Version

macOS

### Browser

Chrome

[2022-07-01 12:47] wayf commented on #590
In this case $space$lg must be 1.5rem
[code]

[2022-07-01 13:23] #585 closed

[2022-07-01 13:52] jrgarciadev commented on #409
Hey @NitinNair89 the fix is on the way https://github.com/nextui-org/nextui/commit/69eb84f94a4d3bb36df9413bbdf029e6432c19ad

[2022-07-01 13:52] #409 closed

[2022-07-01 14:09] jrgarciadev commented on #582
Hey @danielsimao thank you for finding a solution, this is because react-aria doesn't support the strict mode of `React 18` yet https://github.com/adobe/react-spectrum/pull/3108, Strict mode support will be done separately

[2022-07-01 15:56] danielsimao commented on #590
Hey 👋. The padding is applied by the container. What happens is that in the first use case you have a `Row` and a `Col`.

-`Row`: Applied Margin left.
-`Col`: applies padding in the axis.

The second use case is just a container. So they wont match unless you customise on your end.

The only thing I see as odd here is the margin applied on the `Row`, but not the padding that you mention.

[2022-07-01 16:40] danielsimao commented on #572
I was only able to find a library that handled this edge case: [React Spectrum](https://react-spectrum.adobe.com/react-aria/useDialog.html).

I don't know if @jrgarciadev would allow a refactor of the component to use `useDialog` from `react-aria` instead.

[2022-07-02 09:04] hasa-ki commented on #198
Same issue in Dropdown.Trigger and Dropdown.Button, a workaround is setting an id to the Button or Trigger's child.

[2022-07-02 20:47] jrgarciadev commented on #561
Hey @DannyNemer could you please share the specs of your machine?

I've tested it, on safari and chrome and it works without lag
https://user-images.githubusercontent.com/30373425/177015738-934ddabe-3b3c-49cc-b1fd-0ffe065499ad.mov

@TroyTae could you share the name of the tool you used for measuring the CPU?

[2022-07-02 20:50] jrgarciadev commented on #521
Hey guys we are working migrate the current `Tooltip` implementation to [react aria tooltip](https://react-spectrum.adobe.com/react-aria/useTooltipTrigger.html), it should solve the offset calculations issues

[2022-07-02 20:56] #538 closed

[2022-07-02 20:56] #569 closed

[2022-07-02 21:52] jrgarciadev commented on #583
Hey @Guarn that's because, in static tables, the `Table.Body` always expects at least one  `Table.Row`, if you want to have dynamic row you should use the dynamic implementation, here's an example:
https://codesandbox.io/s/dynamic-table-conditional-row-0vp5v1?file=/App.js

Here's the documentation: https://nextui.org/docs/components/table#dynamic

Hope it helps you 🙌🏻

[2022-07-02 21:52] #583 closed

[2022-07-02 22:04] jrgarciadev commented on #572
Hey guys, the migration of this component to `react-aria` is in progress, it should be available in the next release `v10`, it should fix this issue

[2022-07-03 04:25] TroyTae commented on #572
@jrgarciadev
It's built-in tool of Safari (https://webkit.org/blog/8993/cpu-timeline-in-web-inspector/)
You can find `timelines` tab in Safari Web Inspector!

[2022-07-03 04:26] TroyTae commented on #561
@jrgarciadev
It's built-in tool of Safari (https://webkit.org/blog/8993/cpu-timeline-in-web-inspector/)
You can find timelines tab in Safari Web Inspector!

[2022-07-03 12:47] jrgarciadev commented on #561
Thanks @TroyTae 🙏🏻

[2022-07-03 20:14] MobileAppVault commented on #189
Any update on this?

[2022-07-04 12:08] #192 closed

[2022-07-05 08:45] mnik01 opened #598 "[BUG] - Invisible font color on nextui.org when switching to light theme"
### Describe the bug

I've got invisible white on white colored text in page

![image](https://user-images.githubusercontent.com/39025497/177287741-887702da-c5e8-41d5-8d19-4d4815865812.png)

### Your Example Website or App

_No response_

### Steps to Reproduce the Bug or Issue

1. Go to https://nextui.org/docs/components/avatar
2. Press CTRL + K
![image](https://user-images.githubusercontent.com/

[2022-07-05 08:50] danielsimao commented on #598
Hey 👋 Thank you for opening this issue @mnik01. I will take a look into it. Cheers

[2022-07-05 19:40] DannyNemer commented on #561
@jrgarciadev Thank you for investigating!

### Specs:
**OS:** macOS 11.6.7
**Processor:** 2.8 GHz Quad-Core Intel Core i7
**Memory:** 16 GB 1600 MHz DDR3

[2022-07-06 14:53] #462 closed

[2022-07-07 05:35] JayMGurav opened #605 "Hydration failed, React Hydration error with NextJs"
### Describe the bug

Error: Hydration failed because the initial UI does not match what was rendered on the server.

Doesn't hydrate appropriately

### Your Example Website or App

https://codesandbox.io/s/silent-darkness-q2wfs7

### Steps to Reproduce the Bug or Issue

1. create next app
2. install next-ui
3. add `CssBaseline.flush()` to _document.js

### Expected behavior

Server rendered shoul

[2022-07-07 08:21] adilet-web-dev opened #606 "[Feature Request] Add a link or click event to dropdown item"
### Is your feature request related to a problem? Please describe.

I placed a link inside the dropdown item and when a user clicks this link it should redirect to some page.
The problem is user should click exact link text, otherwise it won't redirect

### Describe the solution you'd like

Can you make whole dropdown item a link or add click event to it?

### Describe alternatives you've consider

[2022-07-07 10:43] danielsimao commented on #606
Hey @adilet-web-dev 👋.

In my opinion, a dropdown contais a list of options, where each option is connected to an action. Placing an anchor inside a Dropdown Item does not provide the item with a specific action, which goes against the purpose of a Dropdown.

In your case, I would mimic a navigation programmatically by using `onAction` event handler provided by the Dropdown. If you are using NextJ

[2022-07-07 13:58] KieSun commented on #606
Hey @danielsimao .

In dropdown component, I use `icon` props and want to customize the click event when the user clicks on the icon. But i saw the event not trigger. What can i do?

[2022-07-07 14:21] danielsimao commented on #606
If you check this example, it seems to work with the alert

https://codesandbox.io/s/sandpack-project-forked-9zy7h2?file=/App.js:488-789

[2022-07-10 07:19] #606 closed

[2022-07-11 04:38] penusadeveloper opened #612 "[BUG] - Card not pressable on android mobile browser"
### Describe the bug

When I set `isPressable={true}` on the `Card` component, clicking the component on desktop works, but on mobile it does not trigger the `onPress` callback. However the touch ripple does appear.

I am using a Pixel 5a, Android 12, mobile Chrome browser.

### Your Example Website or App

https://codesandbox.io/s/sandpack-project-forked-n6eii6?file=/App.js

### Steps to Reproduc

[2022-07-12 12:21] #598 closed

[2022-07-12 18:08] nblackninja commented on #605
Hi, @JayMGurav! I found a solution to your problem. Please, move `{CssBaseline.flush()}` from `_document.js` to `_app.js`. The result are as follows:

`_app.js`

[code]

[2022-07-12 18:12] nblackninja commented on #612
I checked on android 6 and 11 and everything works as it should.

[2022-07-13 06:20] Kublick commented on #605
On my side it kills hot reload if I move it as you suggested, probably the issue comes from the update react 18.2 did with hydration.

[2022-07-13 11:47] imchell opened #615 "[BUG] - Sidebar Hides Some Routes in Mobile Page"
### Describe the bug

Some route buttons are hiding behind others:
![hiding](https://us1.myximage.com/2022/07/13/8ec4258427142709bbeec1366a6b5477.png)
Some are out of the viewport:
![hiding](https://us1.myximage.com/2022/07/13/a8e48e1a3ac776e713b0f7a5dd847359.png)

### Your Example Website or App

nextui.org

### Steps to Reproduce the Bug or Issue

1. Visit nextui.org
2. Adjust webpage resolution

[2022-07-13 11:52] imchell commented on #615
I found something in [`category`](https://github.com/nextui-org/nextui/blob/main/apps/docs/src/components/sidebar/category.tsx) might be related to the problem:

[code]

[2022-07-13 20:55] cowoder commented on #198
Running into this issue with the Table component as well.

[2022-07-15 07:09] uki-strzelecki opened #619 "[BUG] - Pagination onChange reading state's initial value"
### Describe the bug

Reading state value inside Pagination's onChange always results in the initial value.

### Your Example Website or App

https://codesandbox.io/s/nextui-custom-pagination-style-forked-p4g40c?file=/pages/index.tsx

### Steps to Reproduce the Bug or Issue

See the example in the given link, namely at:

[code]

### Expected behavior

currentPage should result in an updated state

[2022-07-18 09:36] HarveyB02 opened #622 "[BUG] - Link does not trigger Router 'routeChangeStart' event"
### Describe the bug

When clicking the link element to redirect to another page,

### Your Example Website or App

_No response_

### Steps to Reproduce the Bug or Issue

Listen for the routeChangeStart event
[code]
Create a nextui Link element
[code]

- Open the browser console & click the Link element

### Expected behavior

routeChangeStart should be triggered by the Link element

### Screensh

[2022-07-18 12:02] jrgarciadev commented on #622
Hey @HarveyB02 you have to wrap the NextUI `Link` in a Next.js `Link`,  here's the docs https://nextui.org/docs/components/link#next.js-link

[2022-07-18 12:02] #622 closed

[2022-07-19 14:11] imchell commented on #619
It seems not to be a NextUI bug. `onPageChange` as a callback would "remember" the initial value of `currentPage` no matter how many times the page updates because it's accessing `currentPage` in its closure.

[2022-07-19 16:03] uki-strzelecki commented on #619
Hi @imchell. I am not too familiar with how things work in the background, but how will the same callback passed to e.g. `onPress` of a standard element have the updated value? In my short experience with React, this is the behavior I am familiar with and what I would expect, that is why it seemed strange to me with `Pagination` it is not so. Thanks!

[2022-07-19 23:37] luixo commented on #267
I'm getting this error with `1.0.0-beta.9`.

[2022-07-20 03:31] mattmanik commented on #481
Apologies for not informing this. I got my issue resolved after uninstalling Next UI and reinstalling it.

[2022-07-20 03:31] #481 closed

[2022-07-20 08:53] xlboy opened #627 "[BUG] - `Dropdown` is rendered twice in `React 18`"
### Describe the bug

In `React 18`, `Dropdown` component will be rendered twice after clicking.

### Your Example Website or App

https://codesandbox.io/s/jovial-rumple-zj2pm8?file=/src/index.tsx

### Steps to Reproduce the Bug or Issue

Preview the given link, Simple debugging `Dropdown` components

### Expected behavior

After clicking on the `Dropdown` component, it should be rendered once, no